



/* 
    * PERSONALIZAÇÃO GERAL
    * ****************************************************************************
*/

*, .montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fs-10 {
    font-size: 10px;
}

.fs-20 {
    font-size: 20px;
}

.underline-none {
    text-decoration: none;
}

.list-style-none {
    list-style: none;
}

.rs {
    background-color: red;
    padding: 4px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 7px;
}

.rs i{
    padding: 5px;
    line-height: 22px;
}

/* 
    * CORES DO PROJETO 
    * ****************************************************************************
*/

.t-vermelho {
    color: #B1202F;
}

.bg-vermelho {
    background-color: #B1202F;
}

.t-amarelo {
    color: #EFBB51;
}

.bg-amarelo {
    background-color: #EFBB51;
}

.t-creme {
    color: #F1EBDD;
}

.bg-creme {
    background-color: #F1EBDD;
}

.t-preto {
    color: #000000;
}

.bg-preto {
    background-color: #000000;
}

.t-cinza {
    color: #757575;
}

.bg-cinza {
    background-color: #000000;
}


/* 
    * PERSONALIZAÇÃO BOOTSTRAP 5
    * ****************************************************************************
*/

button.btn, a.btn {
    border-radius: 20px;
    font-weight: bold;
}