{% block nav %}

<div class="bg-preto">
    <div class="container">

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand my-5 my-md-1" href="{{base.url}}">
                    <img src="{{base.dir_relative}}template/assets/midias/logo/maanaim-logo.png" alt="">
                </a>
                <button class="navbar-toggler link-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#menu_maanaim" aria-controls="menu_maanaim" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="menu_maanaim">
                    <div class="navbar-nav" style="margin-left: auto;">
                        <a class="mx-2 nav-link link-light link-underline-opacity-0 active" href="{{base.url}}">INÍCIO</a>
                        <a class="mx-2 nav-link link-light link-underline-opacity-0" href="{{base.url}}sobre_nos">SOBRE NÓS</a>
                        <a class="mx-2 nav-link link-light link-underline-opacity-0" href="{{base.url}}eventos">EVENTOS</a>
                        <a class="mx-2 nav-link link-light link-underline-opacity-0" href="{{base.url}}discipulado">DISCIPULADO</a>
                        <a class="mx-2 nav-link link-light link-underline-opacity-0" href="{{base.url}}galeria">GALERIA</a>
                        <a class="mx-2 nav-link link-light link-underline-opacity-0" href="{{base.url}}acampante">ACAMPANTE</a>
                        <a class="mx-2 nav-link link-light link-underline-opacity-0" href="{{base.url}}minha_inscricao">MINHA INSCRIÇÃO</a>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</div>

{% endblock %}