{% block top %}

{# Bloco de aviso para ambiente de teste #}
{% if BASE_BDS[0].DATABASE != 'desvco15_maanaim' %}
<div class="bg-warning text-center py-2" style="background-color: #ffc107 !important; position: fixed; top: 0; left: 0; right: 0; z-index: 9999; width: 100%;">
    <strong class="text-dark">⚠️ AMBIENTE DE TESTE - Este site é de teste ⚠️</strong>
    <br>
    <a href="https://www.acampamaanaim.com.br" class="btn btn-success bg-success mx-1">Siga para www.acampamaanaim.com.br</a>
</div>
<div style="height: 78px;"></div>
{% endif %}

<div class="bg-vermelho">
    <div class="container">

        {# MOBILE #}
        <div class="row d-md-none py-3">
            <div class="col text-center">
                <span class="mx-2 text-light">Participe dos nossos próximos eventos!</span>
                <br>
                <a href="#" class="btn btn-warning bg-amarelo mx-1">Me inscrever</a>
                <a href="#" class="btn btn-light mx-1">Fazer doação</a>
            </div>
        </div>

        {# DESKTOP #}
        <div class="row d-none d-md-block py-3">
            <div class="col text-end">
                <span class="mx-2 text-light">Participe dos nossos próximos eventos!</span>
                <a href="{{base.url}}eventos" class="btn btn-warning bg-amarelo mx-2">Me inscrever</a>
                <a href="{{base.url}}doacao" class="btn btn-light mx-2">Fazer doação</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}