{{html|raw}}


{#
ACAMPANTE
*****************************************************************************
#}
{# BANNER TITULO #}
{{tituloPagina|raw}}


<div class="py-90">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6">
                <h1 class="oswald text-bold">
                    REGRAS GERAIS
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <b>
                        1. Legalmente e necessariamente o inscrito (acampante) que queira participar do evento aceita nossos "<a href="#">Termos e Compromissos</a>" comprovando no checkin (entrada no acampamento) a veracidade das informações, podendo ser punido com o cancelamento da inscrição, caso encontremos alguma inconsistência.
                    </b>
                </p>
                <p>
                    2. É obrigatório respeitar as regras e orientações dos organizadores e monitores.
                </p>
                <p>
                    3. O acampamento é um ambiente cristão — todos os participantes devem respeitar e seguir os valores cristãos.
                </p>
                <p>
                    4. O acampamento é aberto a pessoas de todas as idades, desde que acompanhadas por um responsável.
                </p>
            </div>
        </div>

    </div>
</div>


<div class="my-5">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6">
                <h1 class="oswald text-bold">
                    ITENS OBRIGATÓRIOS
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Tenha certeza de levar tudo o que precisa para uma estadia tranquila e confortável:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mb-5">
                <div class="p-3 mb-3 rounded bg-amarelo h-100">
                    <h4 class="oswald text-bold">ROUPA DE CAMA</h4>
                    <p class="mt-4">
                        Lençol, cobertor e travesseiro.
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="p-3 rounded bg-marrom h-100">
                    <h4 class="oswald text-bold t-creme">UTENSÍLIOS PARA COMER</h4>
                    <p class="mt-4 t-creme">
                        Prato, talheres e copo.
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="p-3 rounded bg-creme h-100">
                    <h4 class="oswald text-bold">HIGIENE PESSOAL</h4>
                    <p class="mt-4">
                        Toalha, sabonete, escova de dentes, etc.
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="p-3 rounded bg-vermelho h-100">
                    <h4 class="oswald text-bold t-creme">ROUPAS ADEQUADAS PARA</h4>
                    <p class="mt-4 t-creme">
                        Trilha, Culto, Jantar, Esportes, Frio, Chuva (se necessário).
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-5">
                <div class="p-3 rounded bg-vermelho h-100">
                    <h4 class="oswald text-bold t-creme">CALÇADOS CONFORTÁVEIS</h4>
                    <p class="mt-4 t-creme">
                        Para trilhas e atividades.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="py-90 bg-preto">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="oswald text-bold t-creme text-center mb-5">CUIDADOS, SEGURANÇA E INFORMAÇÕES IMPORTANTES</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="p-3 mb-3 rounded bg-vermelho">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <img class="w-100 rounded" src="{{base.dir_relative}}template/assets/midias/site/ACAMPANTE/higiene.jpg" alt="">
                        </div>
                        <div class="col-12 ps-md-5 ps-3 mt-2 t-creme">
                            <h2 class="my-4 oswald text-bold t-creme">HIGIENE E SAÚDE</h2>
                            <p>
                                ● Banheiros disponíveis para uso dos participantes
                            </p>
                            <p>
                                ● Banho diário é obrigatório
                            </p>
                            <p>
                                ● Recomendado trazer repelente de insetos e protetor solar
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="p-3 mb-3 rounded bg-amarelo">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <img class="w-100 rounded" src="{{base.dir_relative}}template/assets/midias/site/ACAMPANTE/regras.jpg" alt="">
                        </div>
                        <div class="col-12 ps-md-5 ps-3 mt-2">
                            <h2 class="my-4 oswald text-bold">SEGURANÇA</h2>
                            <p>
                                ● Siga sempre as orientações dos monitores e organizadores
                            </p>
                            <p>
                                ● É proibido sair do acampamento sem autorização
                            </p>
                            <p>
                                ● Respeite as regras de segurança nas atividades esportivas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="p-3 mb-3 rounded bg-marrom">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <img class="w-100 rounded" src="{{base.dir_relative}}template/assets/midias/site/ACAMPANTE/mochila.jpg" alt="">
                        </div>
                        <div class="col-12 ps-md-5 ps-3 mt-2 t-creme">
                            <h2 class="my-4 oswald text-bold t-creme">RESPONSABILIDADE</h2>
                            <p>
                                ● Cada participante é responsável por seus próprios pertences 
                            </p>
                            <p>
                                ● Os organizadores não se responsabilizam por objetos perdidos ou danificados
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="p-3 mb-3 rounded bg-creme">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <img class="w-100 rounded" src="{{base.dir_relative}}template/assets/midias/site/ACAMPANTE/outras.jpg" alt="">
                        </div>
                        <div class="col-12 ps-md-5 ps-3 mt-2">
                            <h2 class="my-4 oswald text-bold">OUTRAS INFORMAÇÕES</h2>
                            <p>
                                ● A programação do acampamento será divulgada no início do evento 
                            </p>
                            <p>
                                ● Leve uma garrafa de água para se manter hidratado durante as atividades
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{# ASSINE #}
{{htmlAssine|raw}}