{{html|raw}}


{# 
    DISCIPULADO
    *****************************************************************************    
#}
{# BANNER TITULO #}
{{tituloPagina|raw}}


<div class="py-90">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="oswald">
                    CONTINUANDO A JORNADA
                </h1>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                <p>
                    O discipulado é o coração do nosso acampamento. Acreditamos que a caminhada com Cristo se fortalece por meio de relacionamentos intencionais, estudo da Palavra e vivência em comunidade. Nosso programa de discipulado foi criado para acompanhar cada participante após o acampamento, ajudando no crescimento espiritual e no compromisso com Jesus no dia a dia.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Nosso programa de discipulado foi criado para acompanhar cada participante após o acampamento, ajudando no crescimento espiritual e no compromisso com Jesus no dia a dia.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-3 mb-3 rounded bg-vermelho">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <img class="w-100 rounded" src="{{base.dir_relative}}template/assets/midias/site/DISCIPULADO/como-fun.jpg" alt="">
                        </div>
                        <div class="col-md-9 ps-md-5 ps-3 mt-2">
                            <h3 class="oswald text-bold t-creme">COMO FUNCIONA:</h3>
                            <p class="mt-4 t-creme">
                                ● Após o acampamento, cada participante será conectado a um discipulador. 
                                <br>
                                ● Os encontros podem acontecer semanal ou quinzenalmente, online ou presencial. 
                                <br>
                                ● O conteúdo é dividido por temas e níveis, com materiais de apoio gratuitos. 
                                <br>
                                ● A cada etapa, há momentos de oração, leitura bíblica e desafios práticos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-amarelo py-90" style="margin-top: -150px;">
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="oswald text-bold">
                    MATERIAIS PARA DOWNLOAD
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="p-4 mb-3 rounded bg-creme text-center">
                    <img class="rounded" src="{{base.dir_relative}}template/assets/midias/site/DISCIPULADO/download-pdf.png" alt="" style="width: 60px;">
                    <h4 class="oswald text-bold mt-4">GUIA DO DISCIPULADOR 2</h4>
                    <p class="mt-4">
                        guia-discipulador-2.pdf
                    </p>
                    <a href="#" class="btn btn-success btn-lg w-100">download</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-4 mb-3 rounded bg-creme text-center">
                    <img class="rounded" src="{{base.dir_relative}}template/assets/midias/site/DISCIPULADO/download-pdf.png" alt="" style="width: 60px;">
                    <h4 class="oswald text-bold mt-4">GUIA DO DISCIPULADOR 2</h4>
                    <p class="mt-4">
                        guia-discipulador-2.pdf
                    </p>
                    <a href="#" class="btn btn-success btn-lg w-100">download</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-4 mb-3 rounded bg-creme text-center">
                    <img class="rounded" src="{{base.dir_relative}}template/assets/midias/site/DISCIPULADO/download-pdf.png" alt="" style="width: 60px;">
                    <h4 class="oswald text-bold mt-4">GUIA DO DISCIPULADOR 2</h4>
                    <p class="mt-4">
                        guia-discipulador-2.pdf
                    </p>
                    <a href="#" class="btn btn-success btn-lg w-100">download</a>
                </div>
            </div>
        </div>
    </div>
</div>

{# ASSINE #}
{{htmlAssine|raw}}