{# BANNER TITULO #}
{{tituloPagina|raw}}

{{html|raw}}

{#
EVENTOS
*****************************************************************************
#}

{% if infoUrl.attr[0] is null %}


{# Eventos #}
{{htmlEventos|raw}}

<div class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-3 mb-3 rounded bg-creme">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <img class="w-100 rounded" src="{{base.dir_relative}}{{evento.url_midia_banner}}" alt="">
                        </div>
                        <div class="col-md-9 ps-md-5 ps-3 mt-2">
                            <h2 class="oswald text-bold">JÁ FIZ MINHA INSCRIÇÃO</h2>
                            <p class="mt-4">
                                Se você já se inscreveu, é só acompanhar as próximas etapas por aqui.
                            </p>
                            <a href="{{base.url}}minha_inscricao/" class="btn btn-success">Acompanhar minha inscrição</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}


{#
EVENTO ESPECÍFICO
*****************************************************************************
#}

{% if infoUrl.attr[0] and evento.id %}

<div class="py-90 bg-cinza-claro"></div>

<div class="pt-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <img class="rounded" src="{{base.dir_relative}}{{evento.url_midia_banner}}" alt="" style="max-width: 100%; margin-top: -200px;">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5">
                <h1 class="oswald text-bold text-center">SOBRE O EVENTO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="rounded bg-creme p-3 h-100">
                    <h6 class="oswald text-bold t-vermelho">EVENTO</h6>
                    <span>{{evento.nome_evento}}</span>
                    <hr>
                    <h6 class="oswald text-bold t-vermelho">TÍTULO</h6>
                    <span>{{evento.titulo_evento}}</span>
                    <hr>
                    <h6 class="oswald text-bold t-vermelho">DATA</h6>
                    <span>Data início: {{ evento.dt_inicio_evento|date("d/m/Y H:m") }}.</span>
                    <br>
                    <span>Data término: {{ evento.dt_fim_evento|date("d/m/Y H:m") }}</span>
                    <hr>
                    <h6 class="oswald text-bold t-vermelho">VALOR</h6>
                    <span>R$ {{evento.maior_valor|number_format(2, ',', '.')}}</span>
                    <hr>
                    <h6 class="oswald text-bold t-vermelho">ATIVIDADES</h6>
                    <span>{{evento.obs_atividades}}</span>
                    <hr>
                    <h6 class="oswald text-bold t-vermelho">OBSERVAÇÕES</h6>
                    <span>{{evento.obs_evento}}</span>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="rounded bg-creme p-3 h-100">
                    <h6 class="oswald text-bold t-vermelho">PRELETOR</h6>
                    <span>{{evento.nome_preletor}}</span>
                    <hr>
                    <h6 class="oswald text-bold t-vermelho">DESCRIÇÃO</h6>
                    <span>{{evento.obs_preletor}}</span>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-90">

    {{evento.ingressosHtml|raw}}

</div>

{% endif %}


{% if ingressoInfo.id %}
    {{ingressosHtml|raw}}

    {{formInscricaoHtml|raw}}
{% endif %}


{# ASSINE #}
{{htmlAssine|raw}}