


{# 
    SOBRE NÓS
    *****************************************************************************    
#}

{# BANNER TITULO #}
{{tituloPagina|raw}}


<div class="py-90">
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-md-6 m-auto">
                <h1 class="oswald text-bold text-center ">
                    ÁLBUNS
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="text-center ">
                    Confira as fotos promocionais do evento.
                </p>
            </div>
        </div>
    </div>

    {{html|raw}}
    {{htmlEventosAlbuns|raw}}

</div>




{# ASSINE #}
{{htmlAssine|raw}}