{{html|raw}}


{# 
    BANNER
    *****************************************************************************    
#}
<div class="banner-home" style="background-image: url({{base.dir_relative}}template/assets/midias/site/HOME/banner-home-tem-que-ver-ovideo-depois.jpg);">

    <div class="container">

        <div class="row">
            <div class="col">
                <p class="t-creme banner-pre-title">
                    {{info.slogan}} - DESDE {{info.since}}
                </p>

                <h1 class="oswald text-bold t-creme banner-title">
                    ENCONTROS QUE 
                    <br>
                    TRANSFORMAM 
                    <br>
                    E INSPIRAM A
                    <br>REFLETIR JESUS!
                </h1>

                <p class="t-creme">
                    Confira nossos próximos eventos e viva essa transformação!
                    <br>
                    <a href="#" class="btn btn-danger bg-vermelho mx-2 mt-4">Eventos</a>
                </p>
            </div>
        </div>

    </div>

</div>



{# 
    PRÓXIMO EVENTO
    *****************************************************************************    
#}
<div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>



{# 
    TEMPORADAS
    *****************************************************************************    
#}
<div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>



{# 
    CONHEÇA O ACAMPAMENTO
    *****************************************************************************    
#}
<div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>



{# 
    RESUMO - O ACAMPAMANTO
    *****************************************************************************    
#}
<div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>



{# 
    FOTOS
    *****************************************************************************    
#}
<div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>



{# 
    DISCIPULADO
    *****************************************************************************    
#}
<div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>



{# 
    VAGA
    *****************************************************************************    
#}
<div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>



{# 
    PERGUNTAS FREQUENTES
    *****************************************************************************    
#}
<div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>