{{html|raw}}


{# 
    SOBRE NÓS
    *****************************************************************************    
#}


{# BANNER TITULO #}
{{tituloPagina|raw}}


{#
NOSSA ESTRUTURA
*****************************************************************************
#}
<div class="py-90">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6">
                <h1 class="oswald text-bold">
                    NOSSA ESTRUTURA
                </h1>
            </div>
            <div class="col-md-6">
                <p>
                    Nosso espaço foi pensado para oferecer conforto, segurança e uma imersão completa na experiência cristã.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-5">
                <div class="p-5 rounded bg-amarelo h-100">
                    <h4 class="oswald text-bold">ALOJAMENTOS CONFORTÁVEIS</h4>
                    <p class="mt-4">
                        Espaços equipados para grupos e famílias, garantindo descanso e aconchego.
                    </p>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="p-5 rounded bg-marrom h-100">
                    <h4 class="oswald text-bold t-creme">AUDITÓRIO PARA CULTOS</h4>
                    <p class="mt-4 t-creme">
                        Ambiente amplo e preparado para estudos bíblicos e momentos de adoração.
                    </p>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="p-5 rounded bg-creme h-100">
                    <h4 class="oswald text-bold">REFEITÓRIO ESPAÇOSO</h4>
                    <p class="mt-4">
                        Oferecemos refeições equilibradas e saborosas para nutrir corpo e alma.
                    </p>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="p-5 rounded bg-vermelho h-100">
                    <h4 class="oswald text-bold t-creme">ÁREAS DE MEDITAÇÃO</h4>
                    <p class="mt-4 t-creme">
                        Espaços ao ar livre ideais para oração e conexão espiritual.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
        <div class="row">
            <div class="col-6 col-md-3 p-1">
                <img class="w-100" src="{{base.dir_relative}}template/assets/midias/site/HOME/b3.jpg" alt="">
            </div>
            <div class="col-6 col-md-3 p-1">
                <img class="w-100" src="{{base.dir_relative}}template/assets/midias/site/HOME/b4.jpg" alt="">
            </div>
            <div class="col-6 col-md-3 p-1">
                <img class="w-100" src="{{base.dir_relative}}template/assets/midias/site/HOME/b5.jpg" alt="">
            </div>
            <div class="col-6 col-md-3 p-1">
                <img class="w-100" src="{{base.dir_relative}}template/assets/midias/site/HOME/b6.jpg" alt="">
            </div>
        </div>
</div>



{#
PROGRAMAÇÃO
*****************************************************************************
#}
<div class="py-90">
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-md-6 m-auto">
                <h1 class="oswald text-bold text-center ">
                    PROGRAMAÇÃO
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p class="text-center ">
                    Durante todo o acampamento, oferecemos uma programação equilibrada entre momentos de crescimento espiritual e diversão. Confira algumas das atividades:
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">

                <div class="p-3 mb-3 rounded bg-amarelo">
                    <div class="row align-items-center">
                        <div class="col-md-9 ps-5">
                            <h4 class="oswald text-bold">MOMENTOS DE FÉ</h4>
                            <p class="mt-4">
                                ● Estudos bíblicos liderados por pastores e líderes experientes. 
                                <br>
                                ● Cultos noturnos com louvor, oração e pregação inspiradora. 
                                <br>
                                ● Pequenos grupos para compartilhamento e edificação mútua.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img class="w-100 rounded" src="{{base.dir_relative}}template/assets/midias/site/SOBRE/momento-de-fé.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12">
                <div class="p-3 mb-3 rounded bg-marrom">
                    <div class="row align-items-center">
                        <div class="col-md-9 ps-5">
                            <h4 class="oswald text-bold t-creme">ATIVIDADES RECREATIVAS</h4>
                            <p class="mt-4 t-creme">
                                ● Esportes (futebol, basquete, vôlei e mais). 
                                <br>
                                ● Trilhas e caminhadas para exploração da natureza. 
                                <br>
                                ● Pesca esportiva no lago. 
                                <br>
                                ● Jogos de equipe e dinâmicas de interação.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img class="w-100 rounded" src="{{base.dir_relative}}template/assets/midias/site/SOBRE/atividades.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12" style="margin-bottom: -190px;">
                <div class="p-3 mb-3 rounded bg-creme">
                    <div class="row align-items-center">
                        <div class="col-md-9 ps-5">
                            <h4 class="oswald text-bold">MOMENTOS DE FÉ</h4>
                            <p class="mt-4">
                                ● Campeonato de futebol. 
                                <br>
                                ● Concurso de canto e festival de dança. 
                                <br>
                                ● Exposição de artes inspiradas na fé. 
                                <br>
                                ● Noite de talentos para quem deseja compartilhar suas habilidades.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img class="w-100 rounded" src="{{base.dir_relative}}template/assets/midias/site/SOBRE/competições.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{#
TESTEMUNHOS
*****************************************************************************
#}
<div class="pt-5 mt-5 bg-vermelho">
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-md-6 m-auto">
                <h1 class="oswald text-bold text-center t-creme">
                    IMPACTO E TESTEMUNHOS
                </h1>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-6">
                <p class="text-center t-creme">
                    O Acampamento Maanaim é mais do que um evento, é uma experiência que transforma vidas. Muitos participantes relatam voltar para casa renovados, fortalecidos e prontos para compartilhar a palavra de Deus com seus amigos e família.
                </p>
            </div>
        </div>
        <div class="row">
            
            <div class="col-6 col-md-4 mb-3">
                <div class="p-2 mb-3 rounded bg-creme text-center h-100">
                    <img src="{{base.dir_relative}}template/assets/midias/site/testemunhas/t01.jpeg" alt="" class="w-100 rounded">
                    <p class="mt-4">
                        Para mim o acampamento é mais do que apenas um final de semana, mas uma oportunidade de renovar minha fé e servir com prazer ao Senhor!
                    </p>
                    <!-- <h5 class="t-amarelo">T</h5> -->
                </div>
            </div>
            
            <div class="col-6 col-md-4 mb-3">
                <div class="p-2 mb-3 rounded bg-creme text-center h-100">
                    <img src="{{base.dir_relative}}template/assets/midias/site/testemunhas/t02.jpeg" alt="" class="w-100 rounded">
                    <p class="mt-4">
                        Um lugar onde o Senhor me encontrou profundamente com palavras e louvores há mais de 14 anos atrás. Fui salva pela Sua Graça e tem sido assim em todas as gerações que eu conheço desde então. Lugar de refúgio, aprendizado, comunhão e muita intimidade com o Senhor.
                    </p>
                    <!-- <h5 class="t-amarelo">N</h5> -->
                </div>
            </div>
            
            <div class="col-6 col-md-4 mb-3">
                <div class="p-2 mb-3 rounded bg-creme text-center h-100">
                    <img src="{{base.dir_relative}}template/assets/midias/site/testemunhas/t03.jpeg" alt="" class="w-100 rounded">
                    <p class="mt-4">
                        Foi no  Acampamento Maanaim que encontrei minha identidade em Cristo, onde encontrei luz através de Jesus.
                    </p>
                    <!-- <h5 class="t-amarelo">T</h5> -->
                </div>
            </div>
            
            <div class="col-6 col-md-4 mb-3">
                <div class="p-2 mb-3 rounded bg-creme text-center h-100">
                    <img src="{{base.dir_relative}}template/assets/midias/site/testemunhas/t04.jpeg" alt="" class="w-100 rounded">
                    <p class="mt-4">
                        Um local abençoado que nos traz refrigério através da palavra do Senhor!
                    </p>
                    <!-- <h5 class="t-amarelo">E</h5> -->
                </div>
            </div>
            
            <div class="col-6 col-md-4 mb-3">
                <div class="p-2 mb-3 rounded bg-creme text-center h-100">
                    <img src="{{base.dir_relative}}template/assets/midias/site/testemunhas/t05.jpeg" alt="" class="w-100 rounded">
                    <p class="mt-4">
                        O Maanaim marcou minha história e meu relacionamento com Deus, sou grata por tudo o que vivi aqui. Todo jovem merece viver essa experiência!
                    </p>
                    <!-- <h5 class="t-amarelo">J</h5> -->
                </div>
            </div>
            
            <div class="col-6 col-md-4 mb-3">
                <div class="p-2 mb-3 rounded bg-creme text-center h-100">
                    <img src="{{base.dir_relative}}template/assets/midias/site/testemunhas/t06.jpeg" alt="" class="w-100 rounded">
                    <p class="mt-4">
                        O Acampamento Maanaim é uma verdadeira máquina Evangelística, que impactou a minha vida e de muitos outros jovens que puderam ouvir o evangelho! Uma benção poder contribuir no servir ao Senhor nesse lugar cheio da presença de Deus.
                    </p>
                    <!-- <h5 class="t-amarelo">E</h5> -->
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-items-center mt-5 pt-5">
            <div class="col-md-4">
                <img class="w-100" src="{{base.dir_relative}}template/assets/midias/site/SOBRE/agradecimentos.jpg" alt="">
            </div>
            <div class="col-md-4 my-5">
                <h2 class="t-creme">AGRADECIMENTOS</h2>
                <p class="t-creme">
                    O sucesso do acampamento foi possível graças ao trabalho dedicado dos organizadores e voluntários, que se esforçaram para criar um ambiente acolhedor e espiritualmente rico. Já estamos ansiosos pelo próximo Acampamento da Fé!
                </p>
            </div>
        </div>
    </div>
</div>

{# ASSINE #}
{{htmlAssine|raw}}