<div class="container">
    <div class="row">
        {% for key, evento in eventos %}

        <div class="col-sm-3">
            <div class="card" style="height: 100%;">
                <img class="w-100 rounded" src="{{evento.banner}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{evento.title}}</h5>
                    <p class="card-text">{{evento.descricao}}</p>
                    {% if evento.link_album %}
                    <a href="{{evento.link_album}}" class="btn btn-primary" target="_blank">Abrir Albúm</a>
                    {% else %}
                    <span class="btn btn-secondary disabled">Link não disponível</span>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>