{#
TEMPORADAS
*****************************************************************************
#}
<div class="py-90">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-3">
                <h1 class="oswald">
                    TEMPORADAS
                    <br>
                    E EVENTOS FIXOS
                </h1>
            </div>
            <div class="col-md-3">
                <p>
                    Momentos únicos para fortalecer sua fé, criar novas amizades e viver experiências transformadoras. Escolha sua temporada e faça parte dessa jornada!
                </p>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-md-10 m-auto">

                <div class="container">
                    <div class="row">

                        {% for key, evento in eventos %}
                        <div class="col-md-6">
                            <div style="position: relative;" class="m-2 rounded">
                                <span class="badge text-bg-light" style="position: absolute; top: 10px; left: 10px;">{{evento.titulo_evento}}</span>
                                <span class="badge text-bg-light" style="position: absolute; top: 35px; left: 10px;">{{ evento.dt_inicio_evento|date("d/m/Y") }} até {{ evento.dt_fim_evento|date("d/m/Y") }}</span>
                                <a href="{{base.url}}eventos/{{evento.id}}/">
                                    {% if not evento.url_midia_banner %}
                                    {% set evento = {'url_midia_banner': config.image} %}
                                    {% endif %}
                                    <img class="w-100 rounded" src="{{base.url}}{{evento.url_midia_banner}}" alt="">
                                </a>
                                <a href="{{base.dir_relative}}eventos/{{evento.id}}/" class="btn btn-success position-absolute" style="bottom: 20px; right: 20px;">Inscrição</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>