<div class="container">
    <div class="row">
        {% for key, evento in eventos %}

        <div class="col-md-3 col-sm-4">
            <div class="card {% if evento.idStatus == 0 %}border border-5 border-danger{% endif %} mt-3">
                <div class="card-body">
                    <h4 class="mb-0">{{evento.titulo_evento}}</h4>
                    <div class="row">
                        <div class="col-4">
                            {% if evento.url_midia_01 %}
                            <img class="w-100 rounded" src="{{base.url}}{{evento.url_midia_01}}" alt="">
                            {% else %}
                            <img class="w-100 rounded" src="{{base.url}}{{evento.url_midia_banner}}" alt="">
                            {% endif %}
                        </div>
                        <div class="col-8">
                            [{{evento.id}}] - {{evento.nome_evento}}
                            <br>
                            {{ evento.dt_inicio_evento|date("d/m/Y") }}
                            <br>
                            <a href="{{base.url}}adm/ingressos/adicionar/{{evento.id}}" class="btn btn-sm btn-primary">Cadastrar Ingresso</a>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        {% for keying, ingresso in evento.ingressos %}
                        <div class="col-12">
                            [{{ingresso.id}}] {{ingresso.titulo}} - R$ {{ingresso.valor_ingresso|number_format(2, ',', '.')}}
                            
                            {% if ingresso.idStatus == 1 %}
                            <a href="{{base.url}}adm/ingressos/editar/{{ingresso.id}}" class="btn btn-sm btn-primary">Editar Ingresso</a>
                            {% else %}
                            <a href="{{base.url}}adm/ingressos/editar/{{ingresso.id}}" class="btn btn-sm btn-danger">Editar Ingresso</a>
                            {% endif %}
                            <hr>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>