<div class="banner-home" style="background-image: url({{imagemFundo}});">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <h1 class="oswald text-bold t-creme banner-title">
                    {{title}}
                </h1>

                <p class="t-creme">
                    {{texto}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="box-item-linha bg-vermelho" style="margin-bottom: -8px; z-index: 99; position: relative;"></div>