<form action="#" id="finscricao" method="POST">
	<div id="fins" class="bg-amarelo py-5">
		<div class="container">
			<div class="row">

				{% if infoUrl.func == 'editar' %}
				<div class="col-12">
					<h1>Editar</h1>
				</div>
				{% endif %}

				{% if infoUrl.func == 'adicionar' %}
				<div class="col-12">
					<h1>Adicionar</h1>
				</div>
				{% endif %}

				{% if infoUrl.func != 'editar' %}
				<div class="col-12 mt-4 pt-5">

					<h2>Faça sua inscrição</h2>
					<span class="badge bg-warning text-dark">Atenção!</span>
					<p>
						Preencha os dados corretamente.
						<br>
						Preencha os campos obrigatórios (*).
						<br>
						Observe todo o formulário antes de começar.
						<br>
						Informações incorretas podem ocasionar o cancelamento de sua inscrição dentro e durante o evento.
					</p>

					<!-- Auto Preenchimento -->
					<div class="col-12 col-sm-6 col-lg-4 my-5">
						<div class="form-group">
							<h6>Auto Preenchimento da inscrição <span id="resultCPF"></span></h6>
							<p>
								Aqui nós te ajudamos a preencher de acordo com sua última inscrição.
								<br>
								Basta seguir 4 passos:
								<br>
								1 - Preencher com o seu CPF.
								<br>
								2 - Preencher com o ID de uma inscrição que você fez.
								<br>
								3 - Clique em "Alto Preencher".
								<br>
								Caso a gente tenha essas informações na nossa base de dados, iremos preencher os campos.
								<br>
								4 - Agora é só revisar e atualizar as informações antigas. E realizar a inscrição.
							</p>
							<div class="input-group">
								<span class="input-group-text" id="auto-preenchimento">CPF</span>
								<input id="b-cpf" name="b-cpf" type="text" class="form-control mask-cpf" aria-label="cpf" aria-describedby="auto-preenchimento">
							</div>
							<small class="form-text text-muted">
								Informe o CPF, apenas os números.
							</small>
							<div class="input-group">
								<span class="input-group-text" id="auto-preenchimento">ID</span>
								<input id="b-id" name="b-id" type="text" class="form-control" aria-label="id" aria-describedby="auto-preenchimento">
							</div>
							<small class="form-text text-muted">
								ID da inscrição que vc participou.
							</small>
							<div class="d-grid justify-content-end">
								<a class="btn btn-success" onclick="buscaCPF();">Auto Preencher</a>
							</div>
						</div>
					</div>
				</div>
				{% endif %}



				<!-- 
                Dados do inscrito 
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Dados da inscrição</h4>
					<p>Informações do evento e do tipo de inscrição.</p>
				</div>

				<!-- EVENTO -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Evento</h6>
						<div class="input-group">
							<select id="f-idEvento" name="f-idEvento" class="form-select" required onchange="atualizaIngressos();">
								{% if formInscricao %}
								<option value="{{evento.id}}" selected>{{evento.titulo_evento}}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</div>

				<!-- INGRESSO -->

				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Ingresso</h6>
						<div class="input-group">
							<select id="f-idIngresso" name="f-idIngresso" class="form-select" required>
								{% if formInscricao %}
								<option value="{{evento.ingressos[0].id}}" selected>{{evento.ingressos[0].titulo}} - R$ {{evento.ingressos[0].valor_ingresso|number_format(2, ',', '.')}}</option>
								{% else %}
								<option value="" selected>Selecione um evento</option>
								{% endif %}
							</select>
						</div>
					</div>
				</div>
			</div>





			{# Quando for tela da administração #}
			{% if infoUrl.func == 'editar' or infoUrl.func == 'adicionar' %}
			<!-- 
                    Dados de controle da EQUIPE
                    **************************************************************************************************************
                -->

			<div class="row">
				<div class="col-12 mt-4 pt-5">
					<h4>Informações de Controle</h4>
					{% if infoUrl.func == 'editar' %}
					<p>
						Informações para controle interno do acampamento maanaim.
						<br>
						<b>CPF</b>: {{inscricao.cpf}}
						<br>
						<b>ID</b>: {{inscricao.id}}
					</p>
					{% endif %}
				</div>

				<!-- status -->
				<div class="col-12 col-sm-4 col-lg-4 my-2">
					<div class="form-group">
						<h6>Status Inscrição para Inscrito</h6>
						<div class="input-group">

							<select id="f-status" name="f-status" class="form-select" required>
								{% for key, status in inscricaoStatus %}
								<option value="{{status}}" {% if inscricao.status == status %}selected{% endif %}>{{status}}</option>
								{% endfor %}
							</select>
						</div>
						<small class="form-text text-muted">
							Status da situação da inscrição. Inscrito verá ao acompanhar sua inscrição em "Minha Inscrição". 
						</small>
					</div>
				</div>

				<!-- statusEquipe -->
				<div class="col-12 col-sm-4 col-lg-4 my-2">
					<div class="form-group">
						<h6>Status Equipe</h6>
						<div class="input-group">
							<input id="f-statusEquipe" name="f-statusEquipe" type="text" class="form-control" value="{{inscricao.statusEquipe}}">
						</div>
						<small class="form-text text-muted">
							Status da equipe. Não aparece para o inscrito.
						</small>
					</div>
				</div>

				<!-- obs -->
				<div class="col-sm-4 my-2">
					<div class="form-group">
						<h6>Observação para Inscrito</h6>
						<div class="input-group">
							<textarea id="f-obs" name="f-obs" class="form-control" rows="5" aria-label="With textarea">{{inscricao.obs}}</textarea>
						</div>
						<small class="form-text text-muted">
							Observações que o inscrito verá ao acompanhar sua inscrição em "Minha Inscrição". Essa informação aparece para o inscrito.
						</small>
					</div>
				</div>
			</div>
			<div class="row">

				<!-- obsPreAcampa -->
				<div class="col-sm-4 my-2">
					<div class="form-group">
						<h6>Observação Pré Acampamento</h6>
						<div class="input-group">
							<textarea id="f-obsPreAcampa" name="f-obsPreAcampa" class="form-control" rows="5" aria-label="With textarea">{{inscricao.obsPreAcampa}}</textarea>
						</div>
						<small class="form-text text-muted">
							Observações antes do acampamento. Inscrito vai pagar uma parte no acampamento, priorizar algum quarto, informações de parentes, etc. Não aparece para o inscrito.
						</small>
					</div>
				</div>

				<!-- obsAcampa -->
				<div class="col-sm-4 my-2">
					<div class="form-group">
						<h6>Observação Acampamento</h6>
						<div class="input-group">
							<textarea id="f-obsAcampa" name="f-obsAcampa" class="form-control" rows="5" aria-label="With textarea">{{inscricao.obsAcampa}}</textarea>
						</div>
						<small class="form-text text-muted">
							Observações no acampamento. Algum pertence guardado no acampamento, alguma ocorrência, reclamação, incidente, etc. Não aparece para o inscrito.
						</small>
					</div>
				</div>

				<!-- obsPosAcampa -->
				<div class="col-sm-4 my-2">
					<div class="form-group">
						<h6>Observação Pós Acampamento</h6>
						<div class="input-group">
							<textarea id="f-obsPosAcampa" name="f-obsPosAcampa" class="form-control" rows="5" aria-label="With textarea">{{inscricao.obsPosAcampa}}</textarea>
						</div>
						<small class="form-text text-muted">
							Observações pós acampamento. Alguma dívida, pendência, objeto esquecido, etc. Não aparece para o inscrito.
						</small>
					</div>
				</div>
				<!-- 
                    Dados de controle da EQUIPE
                    **************************************************************************************************************
                -->
				<div class="col-12 mt-4 pt-5">
					<h4>Informações de CHECKIN</h4>
				</div>

				<!-- statusCheckin -->
				<div class="col-12 col-sm-4 col-lg-4 my-2">
					<div class="form-group">
						<h6>Status Checkin</h6>
						<div class="input-group">
							<input type="text" class="form-control" id="f-statusCheckin" name="f-statusCheckin" value="{{inscricao.statusCheckin}}">
						</div>
						<small class="form-text text-muted">
							Status para controle do checkin.
						</small>
					</div>
				</div>

				<!-- pago -->
				<div class="col-12 col-sm-4 col-lg-4 my-2">
					<h6>Pagamento</h6>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="f-pago" name="f-pago" value="1" {% if inscricao.pago %}checked{% endif %}>
						<label class="form-check-label" for="f-pago">
							Pago
						</label>
					</div>
					<small class="form-text text-muted">
						Pendência financeira de inscrito dada como pago.
					</small>
				</div>

				<!-- valor pago -->
				<div class="col-12 col-sm-4 col-lg-4 my-2">
					<div class="form-group">
						<h6>Valor Pago Inscrito</h6>
						<div class="input-group">
							<input id="f-valorPago" name="f-valorPago" type="decimal(10.2)" class="form-control" value="{{inscricao.valorPago}}">
						</div>
						<small class="form-text text-muted">
							Valor que o inscrito realmente pagou. Ex: 240.50 ou 1000.00.
							<span>Atenção</span> Use o ponto (.) para separar as casas decimais (centavos). Não separe os milhares.
						</small>
					</div>
				</div>

				<!-- quarto -->
				<div class="col-12 col-sm-4 col-lg-4 my-2">
					<div class="form-group">
						<h6>Quarto</h6>
						<div class="input-group">
							<input id="f-quarto" name="f-quarto" type="text" class="form-control" value="{{inscricao.quarto}}">
						</div>
						<small class="form-text text-muted">
							Quarto que inscrito está alocado. Ex: DM4, DF10.
						</small>
					</div>
				</div>

				<!-- documentacao -->
				<div class="col-12 col-sm-4 col-lg-4 my-2">
					<h6>Documentação</h6>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="f-documentacao" name="f-documentacao" value="1" {% if inscricao.documentacao %}checked{% endif %}>
						<label class="form-check-label" for="f-documentacao">
							Conferido
						</label>
					</div>
					<small class="form-text text-muted">
						Os documentos apresentados estão de acordo com os originais.
					</small>
				</div>

				<!-- Checkin -->
				<div class="col-12 col-sm-4 col-lg-4 my-2">
					<h6>Check-In</h6>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="f-checkin" name="f-checkin" value="1" {% if inscricao.checkin %}checked{% endif %}>
						<label class="form-check-label" for="f-checkin">
							Aceito
						</label>
					</div>
					<small class="form-text text-muted">
						O inscrito passou pelo checkin e está tudo certo. Informações pessoais, informações de responsável, responsável ciente, Informações de saúde, restrições, quarto, financeiro, preparado para comer, dormir, aquecer, etc.
					</small>
				</div>

				<!-- obsCheckin -->
				<div class="col-sm-4 my-2">
					<div class="form-group">
						<h6>Observação Check-In</h6>
						<div class="input-group">
							<textarea id="f-obsCheckin" name="f-obsCheckin" class="form-control" rows="5" aria-label="With textarea">{{inscricao.obsCheckin}}</textarea>
						</div>
						<small class="form-text text-muted">
							Observações do check-in. ficou alguma pendência, Inscrito é uma exceção, inscrito fez check-in fora do horário, etc.
						</small>
					</div>
				</div>
			</div>
			{% endif %}
			<div class="row">








				<!-- 
                Dados do inscrito 
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Dados do Inscrito</h4>
					<p>Dados do inscrito/acampante. Preencha com cuidado. O preenchimento correto das informações garante sua vaga.</p>
				</div>


				<!-- Nome Completo -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Nome Completo (*)</h6>
						<div class="input-group">
							<input id="f-nome" name="f-nome" type="text" class="form-control" value="{{inscricao.nome}}" style="text-transform: uppercase;" required>
						</div>
						<small class="form-text text-muted">
							Nome completo igual em documento.
						</small>
					</div>
				</div>



				<!-- E-Mail -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>E-Mail (*)</h6>
						<div class="input-group">
							<input id="f-email" name="f-email" type="text" class="form-control" value="{{inscricao.email}}" style="text-transform: lowercase;" required>
						</div>
						<small class="form-text text-muted">
							E-mail para identificação do cadastro e pagamento.
						</small>
					</div>
				</div>


				<!-- Telefone -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Telefone (*)</h6>
						<div class="input-group">
							<input id="f-telefone" name="f-telefone" type="text" maxlength="14" class="form-control" value="{{inscricao.telefone}}" required>
						</div>
						<small class="form-text text-muted">
							Telefone pessoal.
						</small>
					</div>
				</div>


				<!-- Telefone Contato -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Telefone Contato (*)</h6>
						<div class="input-group">
							<input id="f-telefoneContato" name="f-telefoneContato" type="text" maxlength="14" class="form-control" value="{{inscricao.telefoneContato}}" required>
						</div>
						<small class="form-text text-muted">
							Telefone de contato externo (Emergência).
						</small>
					</div>
				</div>


				<!-- CPF -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>CPF (*)</h6>
						<div class="input-group">
							<input id="f-cpf" name="f-cpf" type="text" class="form-control mask-cpf" value="{{inscricao.cpf}}" required>

						</div>
						<small class="form-text text-muted">
							Documento de CPF.
						</small>
					</div>
				</div>

				<!-- Sexo -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Sexo (*)</h6>
						<div class="input-group">
							<select id="f-sexo" name="f-sexo" class="form-select" required>
								<option value=""></option>
								<option value="Masculino" {% if inscricao.sexo=="Masculino" %}selected{% endif %}>Masculino</option>
								<option value="Feminino" {% if inscricao.sexo=="Feminino" %}selected{% endif %}>Feminino</option>
							</select>
						</div>
						<small class="form-text text-muted">
							Sexo Masculino / Feminino.
						</small>
					</div>
				</div>


				<!-- Data nascimento -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Data Nascimento (*)</h6>
						<div class="input-group">
							<input id="f-dtNascimento" name="f-dtNascimento" type="date" class="form-control" value="{{inscricao.dtNascimento}}" onchange="verificaMaior()" required>
						</div>
						<small class="form-text text-muted">
							Data de nascimento.
						</small>
						<small id="menorLimite" style="display: none;"><br><span class="badge bg-danger">Idade Mínima <span class="idade_minima">{{evento.idade_minima}}</span></span> A idade mínima para o evento é de <span class="idade_minima">{{evento.idade_minima}}</span> anos. Ao realizar sua inscrição, será automaticamente cancelada* no sistema.</small>
						<small style="display: none;" class="menor"><br><span class="badge bg-danger">Representante</span> Sua inscrição necessita dos dados e aprovação do representante legal, pois você é menor de idade.</small>
					</div>
				</div>


				<!-- Foto Perfil -->
				{# <div class="col-12 col-sm-6 col-lg-4 my-2 d-none">
					<div class="form-group">
						<h6>Foto Perfil</h6>
						<div class="input-group">
							<input class="form-control" type="file" id="f-fotoPerfil" name="f-fotoPerfil">
						</div>
						<small class="form-text text-muted">
							Foto de perfil para identificação.
						</small>
					</div>
				</div> #}


				<!-- Nome Pai -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Nome Completo Pai</h6>
						<div class="input-group">
							<input id="f-paiNome" name="f-paiNome" type="text" class="form-control" value="{{inscricao.paiNome}}" style="text-transform: uppercase;">
						</div>
						<small class="form-text text-muted">
							Nome completo Pai igual em documento.
						</small>
					</div>
				</div>


				<!-- Nome Mãe -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Nome Completo Mãe</h6>
						<div class="input-group">
							<input id="f-maeNome" name="f-maeNome" type="text" class="form-control" value="{{inscricao.maeNome}}" style="text-transform: uppercase;">
						</div>
						<small class="form-text text-muted">
							Nome completo Mãe igual em documento.
						</small>
					</div>
				</div>







				<div id="menor" class="row menor">
					<!-- 
                Dados do Representante 
                **************************************************************************************************************
            -->
					<div class="col-12 mt-4 pt-5">
						<h4>Dados do Representante Legal</h4>
						<p>Dados do REPRESENTANTE LEGAL. Preencha com cuidado. O preenchimento correto das informações garante a inscrição.</p>
					</div>


					<!-- Nome Completo Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>Nome Completo Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepNome" name="f-RepNome" type="text" class="form-control" value="{{inscricao.RepNome}}" style="text-transform: uppercase;">
							</div>
							<small class="form-text text-muted">
								Nome completo Representante igual em documento.
							</small>
						</div>
					</div>



					<!-- E-Mail Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>E-Mail Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepEmail" name="f-RepEmail" type="text" class="form-control" value="{{inscricao.RepEmail}}" style="text-transform: lowercase;">
							</div>
							<small class="form-text text-muted">
								E-mail Representante para identificação do cadastro e pagamento.
							</small>
						</div>
					</div>


					<!-- Telefone Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>Telefone Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepTelefone" name="f-RepTelefone" type="text" maxlength="14" class="form-control" value="{{inscricao.RepTelefone}}">
							</div>
							<small class="form-text text-muted">
								Telefone pessoal Representante.
							</small>
						</div>
					</div>


					<!-- CPF Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>CPF Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepCpf" name="f-RepCpf" type="text" class="form-control mask-cpf" value="{{inscricao.RepCpf}}">

							</div>
							<small class="form-text text-muted">
								Documento de CPF Representante.
							</small>
						</div>
					</div>

					<!-- Sexo Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>Sexo Representante (*)</h6>
							<div class="input-group">
								<select id="f-RepSexo" name="f-RepSexo" class="form-select">
									<option value=""></option>
									<option value="Masculino" {% if inscricao.RepSexo=="Masculino" %}selected{% endif %}>Masculino</option>
									<option value="Feminino" {% if inscricao.RepSexo=="Feminino" %}selected{% endif %}>Feminino</option>
								</select>
							</div>
							<small class="form-text text-muted">
								Sexo Masculino / Feminino Representante.
							</small>
						</div>
					</div>


					<!-- Data nascimento Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>Data Nascimento Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepDtNascimento" name="f-RepDtNascimento" type="date" class="form-control" value="{{inscricao.RepDtNascimento}}">
							</div>
							<small class="form-text text-muted">
								Data de nascimento Representante.
							</small>
						</div>
					</div>

				</div>
				<!-- FIM Representante -->





				<!-- 
                Dados de Endereço 
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Endereço</h4>
					<p>Dados de endereço do inscrito/acampante. Preencha com cuidado. O preenchimento correto das informações garante sua vaga.</p>
				</div>


				<!-- CEP -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>CEP (*)</h6>
						<div class="input-group">
							<input id="f-endCEP" name="f-endCEP" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{inscricao.endCEP}}" required>
						</div>
						<small class="form-text text-muted">
							CEP de residência.
						</small>
					</div>
				</div>


				<!-- País -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>País</h6>
						<div class="input-group">
							<input id="f-endPais" name="f-endPais" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{inscricao.endPais}}" required>
						</div>
						<small class="form-text text-muted">
							País residente.
						</small>
					</div>
				</div>



				<!-- UF -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Estado UF (*)</h6>
						<div class="input-group">
							<input id="f-endEstado" name="f-endEstado" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{inscricao.endEstado}}" required>
						</div>
						<small class="form-text text-muted">
							Unidade federativa (UF) de residência.
						</small>
					</div>
				</div>


				<!-- Cidade -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Cidade (*)</h6>
						<div class="input-group">
							<input id="f-endCidade" name="f-endCidade" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{inscricao.endCidade}}" required>
						</div>
						<small class="form-text text-muted">
							Cidade de residência.
						</small>
					</div>
				</div>


				<!-- Bairro -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Bairro (*)</h6>
						<div class="input-group">
							<input id="f-endBairro" name="f-endBairro" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{inscricao.endBairro}}" required>
						</div>
						<small class="form-text text-muted">
							Bairro de residência.
						</small>
					</div>
				</div>


				<!-- Rua -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Rua (*)</h6>
						<div class="input-group">
							<input id="f-endRua" name="f-endRua" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{inscricao.endRua}}" required>
						</div>
						<small class="form-text text-muted">
							Rua de residência.
						</small>
					</div>
				</div>


				<!-- Número -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Número (*)</h6>
						<div class="input-group">
							<input id="f-endNumero" name="f-endNumero" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{inscricao.endNumero}}" required>
						</div>
						<small class="form-text text-muted">
							Número de residência.
						</small>
					</div>
				</div>


				<!-- Complemento -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Complemento</h6>
						<div class="input-group">
							<input id="f-endComplemento" name="f-endComplemento" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{inscricao.endComplemento}}">
						</div>
						<small class="form-text text-muted">
							Complemento de residência.
						</small>
					</div>
				</div>







				<!-- 
                SAÚDE
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Saúde</h4>
					<p>Forneça informações da sua saúde para que possamos cuidar melhor de você.</p>
				</div>


				<!-- Tipo de Alergia -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Tem algum tipo de Alergia? Qual? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<div>
									<div class="py-2">
										<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-alergiaR" id="f-alergiaRN" aria-label="Radio button for following text input" value="0" {% if not inscricao.alergiaR %}checked{% endif %}> Não
									</div>
									<div class="py-2">
										<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-alergiaR" id="f-alergiaRS" aria-label="Radio button for following text input" value="1" {% if inscricao.alergiaR %}checked{% endif %}> Sim
									</div>
								</div>
							</div>
							<textarea id="f-alergia" name="f-alergia" class="form-control" rows="5" aria-label="With textarea" placeholder="Descreva quais as alergias e quais os cuidados aqui.">{% if inscricao.alergia %}{{inscricao.alergia}}{% endif %}</textarea>
						</div>
						<small class="form-text text-muted">
							Tem alergia ou algum tipo de cuidado com locais, comida, etc.
						</small>
					</div>
				</div>


				<!-- Tipo de Medicamento -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Faz uso de algum tipo de medicamento? Qual? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<div>
									<div class="py-2">
										<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-medicamentoR" id="f-medicamentoRN" aria-label="Radio button for following text input" value="0" {% if not inscricao.medicamentoR %}checked{% endif %}> Não
									</div>
									<div class="py-2">
										<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-medicamentoR" id="f-medicamentoRS" aria-label="Radio button for following text input" value="1" {% if inscricao.medicamentoR %}checked{% endif %}> Sim
									</div>
								</div>
							</div>
							<textarea id="f-medicamento" name="f-medicamento" class="form-control" rows="5" aria-label="With textarea" placeholder="Descreva qual medicamento e quais os cuidados aqui.">{% if inscricao.medicamento %}{{inscricao.medicamento}}{% endif %}</textarea>
						</div>
						<small class="form-text text-muted">
							Faz uso de algum tipo de medicamento diário, ou em casos diversos?
						</small>
					</div>
				</div>

				<!-- Atividades aquáticas -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Autoriza a participação em atividades com água? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarR" id="f-nadarRN" aria-label="Radio button for following text input" value="0" {% if not inscricao.nadarR %}checked{% endif %}> Não
							</div>
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarR" id="f-nadarRS" aria-label="Radio button for following text input" value="1" {% if inscricao.nadarR or not inscricao %}checked{% endif %}> Sim
							</div>
						</div>
						<small class="form-text text-muted">
							Autoriza acampante a participar de atividades que envolvem água, e que não necessáriamente mergulha. Exemplo: bixiga de água, trilha, escorregador etc.
						</small>
					</div>
				</div>

				<!-- Açude -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Autoriza a participação no açude? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarA" id="f-nadarAN" aria-label="Radio button for following text input" value="0" {% if not inscricao.nadarA %}checked{% endif %}> Não
							</div>
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarA" id="f-nadarAS" aria-label="Radio button for following text input" value="1" {% if inscricao.nadarA or not inscricao %}checked{% endif %}> Sim
							</div>
						</div>
						<small class="form-text text-muted">
							Autoriza acampante a participar de atividades que envolvem mergulho e acesso ao ambiente.
						</small>
					</div>
				</div>


				<!-- Piscina -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Autoriza a participação na piscina? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarP" id="f-nadarPN" aria-label="Radio button for following text input" value="0" {% if not inscricao.nadarP %}checked{% endif %}> Não
							</div>
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarP" id="f-nadarPS" aria-label="Radio button for following text input" value="1" {% if inscricao.nadarP or not inscricao %}checked{% endif %}> Sim
							</div>
						</div>
						<small class="form-text text-muted">
							Autoriza acampante a participar de atividades que envolvem mergulho e acesso ao ambiente.
						</small>
					</div>
				</div>







				<!-- 
                PESSOAL
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Pessoal</h4>
					<p>Quer compartilhar conosco alguma informação?</p>
				</div>


				<!-- ideia -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Quer compatilhar alguma informação sobre o acampamento?</h6>
						<div class="input-group">
							<textarea id="f-ideia" name="f-ideia" class="form-control" rows="5" aria-label="With textarea">{{inscricao.ideia}}</textarea>
						</div>
						<small class="form-text text-muted">
							Quantas vezes já participou? Quer alguma programação extra? Tem uma ideia? Quer participar da Equipe.
						</small>
					</div>
				</div>


				<!-- conselheiro -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Quer compatilhar alguma informação para o seu conselheiro?</h6>
						<div class="input-group">
							<textarea id="f-conselheiro" name="f-conselheiro" class="form-control" rows="5" aria-label="With textarea">{{inscricao.conselheiro}}</textarea>
						</div>
						<small class="form-text text-muted">
							Está passando por algum momento diferente na sua vida? Gostaria de conversar com um conselheiro? Informe aqui ou no próprio acampamento. Nossos conselheiros estão a disposição para compartilhar um pouco de esperança e dividir as cargas.
						</small>
					</div>
				</div>







				<!-- 
                TERMOS
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Aceite dos termos</h4>
					<p>Para ingressar no <b>Acampamento Maanaim</b> é necessário estar de acordo com nossas políticas (Termos e Compromisso).</p>
				</div>


				<!-- Termos e Compromisso -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Termos e Compromisso (*)</h6>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" name="f-termos" id="f-termos" {% if inscricao.termos %}checked{% endif %} required>
							<label class="form-check-label" for="f-termos">Aceito os <a href="{{base.url}}termos/" target="_blank">termos e compromissos</a>.</label>
						</div>
						<small class="form-text text-muted">
							Aceite dos termos, políticas, regras, deveres, direitos, etc. requisitos legais para inscrição. Os termos com seus dados será gerado e assinado digitalmente na confirmação da inscrição, com a possibilidade de baixar o arquivo para seu dispositivo.
						</small>
						<br>
						<span class="badge bg-warning text-dark mt-2">Atenção</span>
						<p class="text-dark">Informações incorretas podem ocasionar o cancelamento de sua inscrição dentro e durante o evento.</p>
					</div>
				</div>


				<!-- SUBMIT -->
				<div class="col-12 mt-5">
					<div class="form-group text-end">
						<div class="form-check form-switch">
							{% if infoUrl.func == 'editar' %}
							<input type="hidden" name="f-id" value="{{inscricao.id}}">
							<a id="btnEditar" class="btn btn-warning" onclick="editarInscricao();">Editar Inscrição</a>
							{% else %}
							<a id="btnUffa" class="btn btn-success" onclick="adicionarInscricao();">Uffa! Fazer Inscrição</a>
							{% endif %}
							<small id="menorLimite2" style="display: none;"><br><span class="badge bg-danger">Idade Mínima <span class="idade_minima">{{evento.idade_minima}}</span></span> A idade mínima para o evento é de <span class="idade_minima">{{evento.idade_minima}}</span> anos. Ao realizar sua inscrição, será automaticamente cancelada* no sistema.</small>
						</div>
						<small class="form-text text-muted">
							Verifique atentamente todos os dados! Após fazer a incrição, siga as orientações de datas, pagamento e acompanhamento.
						</small>
					</div>
				</div>

			</div>
		</div>
	</div>
</form>


<script>

	// Informações de controle.
	data = new Date();
	idadeMinima = parseInt('{{evento.idade_minima}}');
	anoAtual = parseInt('{{info.anoAtual}}');
	// dateLimite = tiraYearsToDate(new Date('{{evento.ingressos[0].dt_ini_ingresso}}'), 18);
	// dateMenorLimite = tiraYearsToDate(new Date('{{evento.ingressos[0].dt_ini_ingresso}}'), idadeMinima);

	dateLimite = tiraYearsToDate(new Date('{{evento.dt_inicio_evento}}'), 18);
	dateMenorLimite = tiraYearsToDate(new Date('{{evento.dt_inicio_evento}}'), idadeMinima);

	eventos_origin = '';
	idEvento = 0;
	eventos = [];

	if ('{{eventos|raw}}') {
		eventos_origin = JSON.parse('{{eventos|raw}}');

		document.addEventListener("DOMContentLoaded", function () {
			options = '<option value="" selected>Selecionar</option>';
			eventos_origin.forEach((evento, i) => {
				selected = '';
				if (evento.id == '{{inscricao.idEvento}}') {
					selected = 'selected';
				}
				options += '<option value="' + evento.id + '" ' + selected + '>' + evento.titulo_evento + '</option>';
				eventos[evento.id] = evento;
			});
			$('#f-idEvento').html(options);
			atualizaDatasLimite();
		});
	}

	function atualizaIngressos() {

		idEvento = $('#f-idEvento').val();
		ingressos = eventos[idEvento]['ingressos'];

		options = '<option value="" selected>Selecionar</option>';
		ingressos.forEach((ingresso, i) => {
			selected = '';
			if (ingresso.id == '{{inscricao.id}}') {
				selected = 'selected';
			}
			options += '<option value="' + ingresso.id + '">' + ingresso.titulo + ' - R$ ' + ingresso.valor_ingresso.toLocaleString('pt-br', { minimumFractionDigits: 2 }) + '</option>';
		});

		$('#f-idIngresso').html(options);
		atualizaDatasLimite();
	}


	function atualizaDatasLimite() {
		// Garante que vai pegar o id do evento selecionado.
		idEvento = $('#f-idEvento').val();
		if ('{{eventos|raw}}') {
			idadeMinima = eventos[idEvento]['idade_minima']
			dateLimite = tiraYearsToDate(new Date(eventos[idEvento]['dt_inicio_evento']), 18);
			dateMenorLimite = tiraYearsToDate(new Date(eventos[idEvento]['dt_inicio_evento']), idadeMinima);
			$('.idade_minima').text(idadeMinima);
		}
	}

	// Função verifica se a idade do inscrito é superior a 18 anos, se é menor de idade e se está abaixo da idade mínima do evento.
	function verificaMaior() {

		data = new Date($('#f-dtNascimento').val());

		// Se for menor de idade
		if (data >= dateLimite) {
			// representante
			$('.menor').show();
		}
		else {
			// Maior
			$('.menor').hide();
			$('#menorLimite').hide();
		}

		if (data > dateMenorLimite) {
			$('#menorLimite').show();
			$('#menorLimite2').show();
			//$('#btnUffa').prop("disabled",true);
		} else {
			$('#menorLimite').hide();
			$('#menorLimite2').hide();
			//$('#btnUffa').prop("disabled",false);
		}

	}

	// Calcula o tempo entre duas datas.
	function tiraYearsToDate(date, years) {
		var days = years * 365;
		var res = new Date(date);
		res.setDate(res.getDate() - days);
		return res;
	}

	// Formata a data.
	function dataFormatada(d) {
		var data = new Date(d),
			dia = data.getDate(),
			mes = data.getMonth() + 1,
			ano = data.getFullYear();
		return [dia, mes, ano].join('/');
	}

	// Busca informações do inscrito para não precisar preencher.
	function buscaCPF() {

		// Obtém formulário.
		// $('#finscricao')[0];

		dados = new FormData();
		dados.append('f-cpf', $('#b-cpf').val()); // Exemplo de inclusão de valores.
		dados.append('f-id', $('#b-id').val()); // Exemplo de inclusão de valores.
		ajaxDados('{{base.url}}eventos/api/cpf/', dados, function (ret) {
			// Para testes
			// console.log(ret);

			// Verifica se teve retorno ok.
			if (ret.body) {
				// Notificação.
				Swal.fire({
					icon: "success",
					title: "Sucesso.",
					html: ret.msg,
					toast: true,
					position: "top-end",
					showConfirmButton: false,
					timer: 3000,
					timerProgressBar: true,
				});


				// Preenche os campos
				preencheInscricao(ret.body);

				// Verifica se já está inscrito no evento atual.
				/*
				if (ret.html != '') {
					// Monta o html do acompanhamento.
					$('#modalAcompanhamento .modal-body').html(ret.html);

					// Download dos termos.
					// $('#termos')[0].click();

					// Abre o modal.
					$("#modalAcompanhamento").modal('show');
				}
				*/

			} else {
				// Notificação.
				Swal.fire({
					icon: 'error',
					title: 'Erro.',
					text: ret.msg,
					toast: true,
					position: 'top-end',
					showConfirmButton: false,
					// timer: 3000,
					// timerProgressBar: true,
				});
			}
		})
	}



	// Campos obrigatórios preenchidos.
	camposObrigatorios = true; // campos obrigatórios preenchidos.
	msgOb = '';

	function editarInscricao() {

		// Verifica campos obrigatórios
		verificaCamposObrigatorios();

		// Se faltou algum campo, interrompe o processamento.
		if (camposObrigatorios == false) {
			return true;
		}

		// Envio as informações.
		postInscricao('editar');
	}

	function adicionarInscricao() {

		// Verifica campos obrigatórios
		verificaCamposObrigatorios();

		// Se faltou algum campo (false), interrompe o processamento.
		if (camposObrigatorios == false) {
			return true;
		}

		// Envio as informações.
		postInscricao('adicionar');
	}

	function verificaCamposObrigatorios() {

		msgOb = '';
		camposObrigatorios = true; // campos obrigatórios preenchidos.

		// Caso não tenha preenchido algum, trava.
		if ($('#f-idEvento').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: Evento. '; }
		if ($('#f-idIngresso').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: Ingresso. '; }
		if ($('#f-nome').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: Nome. '; }
		if ($('#f-email').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: Email. '; }
		if ($('#f-telefone').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: Telefone. '; }
		if ($('#f-telefoneContato').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: Telefone Contato. '; }
		if ($('#f-cpf').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: CPF. '; }
		if ($('#f-sexo').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: Sexo. '; }
		if ($('#f-dtNascimento').val() == '') { camposObrigatorios = false; msgOb += '<br>Preencha o campo: Data Nascimento. '; }
		if (!$('#f-termos').is(':checked')) { camposObrigatorios = false; msgOb += '<br>É necessário aceitar os termos e políticas. '; }

		// Agora mesmo não tendo a idade mínima é possível realizar a inscrição. e a inscrição é automaticamente cancelada.
		// Isso foi feito para poder excepcionalmente inscrever alguém menor de idade e ativar a inscrição depois.
		// if (data > dateMenorLimite) { camposObrigatorios = false; msgOb += '<br>Não atende a idade mínima. '; }

		// Verifica se é menor de idade e preencheu os campos de dados de representante.
		data = new Date($('#f-dtNascimento').val());

		// Se for menor de idade é obrigado a preencher o representante.
		if (data >= dateLimite) {
			if (
				$('#f-RepNome').val() == ''
				|| $('#f-RepEmail').val() == ''
				|| $('#f-RepTelefone').val() == ''
				|| $('#f-RepCpf').val() == ''
				|| $('#f-RepSexo').val() == ''
				|| $('#f-RepDtNascimento').val() == ''
			) { camposObrigatorios = false; msgOb += '<br>Necessário preenchimento de todos os campos dos dados de representante. '; }
		}

		notificaCamposObrigatorios();
	}

	function notificaCamposObrigatorios() {
		if (msgOb) {
			// Notificação.
			Swal.fire({
				icon: 'error',
				title: 'Erro.',
				html: '<div class="text-start">Preencha os campos obrigatórios.<br>' + msgOb + '</div>',
				showConfirmButton: false,
				showDenyButton: true,
				denyButtonText: "Entendi",
			});
		}
	}

	function postInscricao(endpoint) {
		// Pega o formulário e envia.
		dados = new FormData($('#finscricao')[0]);
		// dados.append('f-formToken', '{{page.formTokenApi}}'); // Token para uso de API
		// dados.append('adicionar', 'adicionar'); // Token para uso de API
		// ajaxDados('{{global.URL_RAIZ}}inscricao/api/post/inscricao', dados, function (ret) {
		ajaxDados('{{urlApiInscricao}}' + endpoint + '/', dados, function (ret) {
			// Para testes
			// console.log(ret);

			// Verifica se não teve erro.
			if (!ret.body.error) {
				// Notificação.
				Swal.fire({
					icon: "success",
					title: "Sucesso",
					html: ret.body.msg,
					showConfirmButton: true,
					confirmButtonText: "Acompanhar Inscrição",

					{% if infoUrl.func %}
			showCancelButton: true,
				cancelButtonText: "OK",
					{% endif %}
					// timer: 3000,
					// timerProgressBar: true,
				}).then((result) => {
						if (result.isConfirmed) {
							$.redirect('{{base.url}}minha_inscricao/', { 'f-cpf': ret.body.cpf, 'f-idInscricao': ret.body.idInscricao });
						} else if (result.isDenied) {
						}
					});


			} else {

		if (ret.body.idInscricao) {
			// Notificação.
			Swal.fire({
				icon: 'warning',
				title: 'Atenção',
				html: ret.msg,
				showConfirmButton: true,
				confirmButtonText: "Acompanhar Inscrição",
			}).then((result) => {
				if (result.isConfirmed) {
					$.redirect('{{base.url}}minha_inscricao/', { 'f-cpf': ret.body.cpf, 'f-idInscricao': ret.body.idInscricao });
				} else if (result.isDenied) {
				}
			});
		} else {
			// Notificação.
			Swal.fire({
				icon: 'error',
				title: 'Erro',
				html: ret.msg,
				showConfirmButton: true,
				confirmButtonText: "Revisar",
			}).then((result) => {
				if (result.isConfirmed) {
				} else if (result.isDenied) {
				}
			});

		}

	}

		}, 'POST', false);
	}

	function preencheInscricao(inscricao) {
		// DADOS INSCRITO
		$('#f-nome').val(inscricao.nome);
		$('#f-email').val(inscricao.email);
		$('#f-telefone').val(inscricao.telefone);
		$('#f-telefoneContato').val(inscricao.telefoneContato);
		$('#f-cpf').val(inscricao.cpf);
		// $('#f-rg').val(inscricao.rg);
		// $('#f-cnh').val(inscricao.cnh);
		$('#f-sexo').val(inscricao.sexo);
		$('#f-dtNascimento').val(inscricao.dtNascimento);
		$('#f-paiNome').val(inscricao.paiNome);
		$('#f-maeNome').val(inscricao.maeNome);

		verificaMaior();

		// Representante
		$('#f-RepNome').val(inscricao.RepNome);
		$('#f-RepEmail').val(inscricao.RepEmail);
		$('#f-RepTelefone').val(inscricao.RepTelefone);
		$('#f-RepCpf').val(inscricao.RepCpf);
		// $('#f-RepRg').val(inscricao.RepRg);
		// $('#f-RepCnh').val(inscricao.RepCnh);
		$('#f-RepSexo').val(inscricao.RepSexo);
		$('#f-RepDtNascimento').val(inscricao.RepDtNascimento);

		// Endereço
		$('#f-endCEP').val(inscricao.endCEP);
		$('#f-endPais').val(inscricao.endPais);
		$('#f-endEstado').val(inscricao.endEstado);
		$('#f-endCidade').val(inscricao.endCidade);
		$('#f-endBairro').val(inscricao.endBairro);
		$('#f-endRua').val(inscricao.endRua);
		$('#f-endNumero').val(inscricao.endNumero);
		$('#f-endComplemento').val(inscricao.endComplemento);

		// Informações de saude
		$('#f-alergia').val(inscricao.alergia);
		$('#f-medicamento').val(inscricao.medicamento);

		if (inscricao.alergiaR == 1) {
			$('#f-alergiaRS').prop("checked", true);
			$('#f-alergiaRN').prop("checked", false);
		} else {
			$('#f-alergiaRN').prop("checked", true);
			$('#f-alergiaRS').prop("checked", false);
		}

		if (inscricao.medicamentoR == 1) {
			$('#f-medicamentoRS').prop("checked", true);
			$('#f-medicamentoRN').prop("checked", false);
		} else {
			$('#f-medicamentoRN').prop("checked", true);
			$('#f-medicamentoRS').prop("checked", false);
		}

		if (inscricao.nadarR == 1) {
			$('#f-nadarRS').prop("checked", true);
			$('#f-nadarRN').prop("checked", false);
		} else {
			$('#f-nadarRN').prop("checked", true);
			$('#f-nadarRS').prop("checked", false);
		}

		if (inscricao.nadarA == 1) {
			$('#f-nadarAS').prop("checked", true);
			$('#f-nadarAN').prop("checked", false);
		} else {
			$('#f-nadarAN').prop("checked", true);
			$('#f-nadarAS').prop("checked", false);
		}

		if (inscricao.nadarP == 1) {
			$('#f-nadarPS').prop("checked", true);
			$('#f-nadarPN').prop("checked", false);
		} else {
			$('#f-nadarPN').prop("checked", true);
			$('#f-nadarPS').prop("checked", false);
		}
		// $( "#x" ).prop( "checked", true );

		// Pessoal
		// $('#f-ideia').val(inscricao.cpf);
		// $('#f-conselho').val(inscricao.cpf);
		// $('#f-termos').val(inscricao.cpf);
	}
</script>