<form action="#" id="finscricao" method="POST">
	<div id="fins" class="bg-amarelo py-5" style="box-shadow: #000 0px 12px 20px -18px;z-index: 2;position: relative;">
		<div class="container">
			<div class="row">

				<div class="col-12 mt-4 pt-5">

					<h2>Faça sua inscrição</h2>
					<p>Preencha os dados corretamente. Preencha os campos obrigatórios que tenha o identificador (*). Após, submeta os dados para efetivação da inscrição clicando em "Uffa! Fazer Inscrição". Logo após receberá um "Código da Inscrição" (guarde o Código) e a forma de pagamento.</p>
					<span class="badge bg-warning text-dark">Olhe todo o formulário primeiro antes de começar!</span>
					<p>
						São 34 campos.
						<br>
						São 23 campos obrigatórios.
					</p>

					<!-- Auto Preenchimento -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>CPF <span id="resultCPF"></span></h6>
							<div class="input-group">
								<input id="b-cpf" name="b-cpf" type="text" class="form-control mask-cpf">
								<a class="btn btn-success" onclick="buscaCPF();">Buscar</a>
							</div>
							<small class="form-text text-muted">
								Carregue seus dados e atualize o que for necessário.
							</small>
						</div>
						<div class="form-group">
							<h6>Auto Preenchimento da inscrição <span id="resultCPF"></span></h6>
							<div class="input-group">
								<span class="input-group-text" id="auto-preenchimento">CPF</span>
								<input id="b-cpf" name="b-cpf" type="text" class="form-control mask-cpf" aria-label="cpf" aria-describedby="auto-preenchimento">
							</div>
							<small class="form-text text-muted">
								Informe o CPF, apenas os números.
							</small>
							<div class="input-group">
								<span class="input-group-text" id="auto-preenchimento">ID</span>
								<input id="b-id" name="b-id" type="text" class="form-control" aria-label="id" aria-describedby="auto-preenchimento">
							</div>
							<small class="form-text text-muted">
								ID da inscrição que vc participou.
							</small>
							<br>
							<a class="btn btn-success" onclick="buscaCPF();">Auto Preencher</a>
						</div>
					</div>
				</div>



				<!-- 
                Dados do inscrito 
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Dados do Inscrito</h4>
					<p>Dados do inscrito/acampante. Preencha com cuidado. O preenchimento correto das informações garante sua vaga.</p>
				</div>


				<!-- Nome Completo -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Nome Completo (*)</h6>
						<div class="input-group">
							<input id="f-nome" name="f-nome" type="text" class="form-control" value="{{page.inscricao.nome}}" style="text-transform: uppercase;" required>
						</div>
						<small class="form-text text-muted">
							Nome completo igual em documento.
						</small>
					</div>
				</div>



				<!-- E-Mail -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>E-Mail (*)</h6>
						<div class="input-group">
							<input id="f-email" name="f-email" type="text" class="form-control" value="{{page.inscricao.email}}" style="text-transform: lowercase;" required>
						</div>
						<small class="form-text text-muted">
							E-mail para identificação do cadastro e pagamento.
						</small>
					</div>
				</div>


				<!-- Telefone -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Telefone (*)</h6>
						<div class="input-group">
							<input id="f-telefone" name="f-telefone" type="text" maxlength="14" class="form-control" value="{{page.inscricao.telefone}}" required>
						</div>
						<small class="form-text text-muted">
							Telefone pessoal.
						</small>
					</div>
				</div>


				<!-- Telefone Contato -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Telefone Contato (*)</h6>
						<div class="input-group">
							<input id="f-telefoneContato" name="f-telefoneContato" type="text" maxlength="14" class="form-control" value="{{page.inscricao.telefoneContato}}" required>
						</div>
						<small class="form-text text-muted">
							Telefone de contato externo (Emergência).
						</small>
					</div>
				</div>


				<!-- CPF -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>CPF (*)</h6>
						<div class="input-group">
							<input id="f-cpf" name="f-cpf" type="text" class="form-control mask-cpf" value="{{page.inscricao.cpf}}" required>

						</div>
						<small class="form-text text-muted">
							Documento de CPF.
						</small>
					</div>
				</div>


				<!-- RG -->
				<!-- <div class="col-12 col-sm-6 col-lg-4 my-2">
                <div class="form-group">
                    <h6>RG</h6>
                    <div class="input-group">
                        <input id="f-rg" name="f-rg" type="text" class="form-control" value="{{page.inscricao.rg}}">

                    </div>
                    <small class="form-text text-muted">
                        Documento de registro geral (RG).
                    </small>
                </div>
            </div> -->


				<!-- CNH -->
				<!-- <div class="col-12 col-sm-6 col-lg-4 my-2">
                <div class="form-group">
                    <h6>CNH</h6>
                    <div class="input-group">
                        <input id="f-cnh" name="f-cnh" type="text" class="form-control" value="{{page.inscricao.cnh}}">

                    </div>
                    <small class="form-text text-muted">
                        Carteira nacional de habilitação (CNH).
                    </small>
                </div>
            </div> -->


				<!-- Sexo -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Sexo (*)</h6>
						<div class="input-group">
							<select id="f-sexo" name="f-sexo" class="form-select" required>
								<option value=""></option>
								<option value="Masculino">Masculino</option>
								<option value="Feminino">Feminino</option>
							</select>
						</div>
						<small class="form-text text-muted">
							Sexo Masculino / Feminino.
						</small>
					</div>
				</div>


				<!-- Data nascimento -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Data Nascimento (*)</h6>
						<div class="input-group">
							<input id="f-dtNascimento" name="f-dtNascimento" type="date" class="form-control" value="{{page.inscricao.dtNascimento}}" onchange="verificaMaior()" required>
						</div>
						<small class="form-text text-muted">
							Data de nascimento.
						</small>
						<h6 id="menorLimite" style="display: none;"><span class="badge bg-danger">Inscrição inválida. Somente maior de {{page.info.INFO_IDADE_MINIMA}} anos.</span></h6>
						<h6 style="display: none;" class="menor"><span class="badge bg-danger">Necessita de Representante</span></h6>
					</div>
				</div>


				<!-- Foto Perfil -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Foto Perfil</h6>
						<div class="input-group">
							<input class="form-control" type="file" id="f-fotoPerfil" name="f-fotoPerfil">
						</div>
						<small class="form-text text-muted">
							Foto de perfil para identificação.
						</small>
					</div>
				</div>


				<!-- Nome Pai -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Nome Completo Pai</h6>
						<div class="input-group">
							<input id="f-paiNome" name="f-paiNome" type="text" class="form-control" value="{{page.inscricao.paiNome}}" style="text-transform: uppercase;">
						</div>
						<small class="form-text text-muted">
							Nome completo Pai igual em documento.
						</small>
					</div>
				</div>


				<!-- Nome Mãe -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Nome Completo Mãe</h6>
						<div class="input-group">
							<input id="f-maeNome" name="f-maeNome" type="text" class="form-control" value="{{page.inscricao.maeNome}}" style="text-transform: uppercase;">
						</div>
						<small class="form-text text-muted">
							Nome completo Mãe igual em documento.
						</small>
					</div>
				</div>







				<div id="menor" class="row menor">
					<!-- 
                Dados do Representante 
                **************************************************************************************************************
            -->
					<div class="col-12 mt-4 pt-5">
						<h4>Dados do Representante</h4>
						<p>Dados do REPRESENTANTE LEGAL. Preencha com cuidado. O preenchimento correto das informações garante a vaga.</p>
					</div>


					<!-- Nome Completo Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>Nome Completo Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepNome" name="f-RepNome" type="text" class="form-control" value="{{page.inscricao.RepNome}}" style="text-transform: uppercase;">
							</div>
							<small class="form-text text-muted">
								Nome completo Representante igual em documento.
							</small>
						</div>
					</div>



					<!-- E-Mail Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>E-Mail Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepEmail" name="f-RepEmail" type="text" class="form-control" value="{{page.inscricao.RepEmail}}" style="text-transform: lowercase;">
							</div>
							<small class="form-text text-muted">
								E-mail Representante para identificação do cadastro e pagamento.
							</small>
						</div>
					</div>


					<!-- Telefone Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>Telefone Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepTelefone" name="f-RepTelefone" type="text" maxlength="14" class="form-control" value="{{page.inscricao.RepTelefone}}">
							</div>
							<small class="form-text text-muted">
								Telefone pessoal Representante.
							</small>
						</div>
					</div>


					<!-- CPF Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>CPF Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepCpf" name="f-RepCpf" type="text" class="form-control mask-cpf" value="{{page.inscricao.RepCpf}}">

							</div>
							<small class="form-text text-muted">
								Documento de CPF Representante.
							</small>
						</div>
					</div>


					<!-- RG Representante -->
					<!-- <div class="col-12 col-sm-6 col-lg-4 my-2">
                <div class="form-group">
                    <h6>RG Representante</h6>
                    <div class="input-group">
                        <input id="f-RepRg" name="f-RepRg" type="text" class="form-control" value="{{page.inscricao.RepRg}}">

                    </div>
                    <small class="form-text text-muted">
                        Documento de registro geral (RG) Representante.
                    </small>
                </div>
            </div> -->


					<!-- CNH Representante -->
					<!-- <div class="col-12 col-sm-6 col-lg-4 my-2">
                <div class="form-group">
                    <h6>CNH Representante</h6>
                    <div class="input-group">
                        <input id="f-RepCnh" name="f-RepCnh" type="text" class="form-control" value="{{page.inscricao.RepCnh}}">

                    </div>
                    <small class="form-text text-muted">
                        Carteira nacional de habilitação (CNH) Representante.
                    </small>
                </div>
            </div> -->


					<!-- Sexo Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>Sexo Representante (*)</h6>
							<div class="input-group">
								<select id="f-RepSexo" name="f-RepSexo" class="form-select">
									<option value=""></option>
									<option value="Masculino">Masculino</option>
									<option value="Feminino">Feminino</option>
								</select>
							</div>
							<small class="form-text text-muted">
								Sexo Masculino / Feminino Representante.
							</small>
						</div>
					</div>


					<!-- Data nascimento Representante -->
					<div class="col-12 col-sm-6 col-lg-4 my-2">
						<div class="form-group">
							<h6>Data Nascimento Representante (*)</h6>
							<div class="input-group">
								<input id="f-RepDtNascimento" name="f-RepDtNascimento" type="date" class="form-control" value="{{page.inscricao.RepDtNascimento}}">
							</div>
							<small class="form-text text-muted">
								Data de nascimento Representante.
							</small>
						</div>
					</div>

				</div>
				<!-- FIM Representante -->





				<!-- 
                Dados de Endereço 
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Endereço</h4>
					<p>Dados de endereço do inscrito/acampante. Preencha com cuidado. O preenchimento correto das informações garante sua vaga.</p>
				</div>


				<!-- CEP -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>CEP (*)</h6>
						<div class="input-group">
							<input id="f-endCEP" name="f-endCEP" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{page.inscricao.endCEP}}" required>
						</div>
						<small class="form-text text-muted">
							CEP de residência.
						</small>
					</div>
				</div>


				<!-- País -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>País</h6>
						<div class="input-group">
							<select id="f-endPais" name="f-endPais" class="form-select" {% if page.inscricao.endPais %}disabled{% endif %}>
								<option value=""></option>
								{% for item in page.pais %}
								<option value="{{ item.id|e }}" {% if page.inscricao.endPais==item.id %}selected{% endif %}>{{ item.nome|e }}</option>
								{% endfor %}
							</select>
						</div>
						<small class="form-text text-muted">
							País residente.
						</small>
					</div>
				</div>



				<!-- UF -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Estado UF (*)</h6>
						<div class="input-group">
							<select id="f-endEstado" name="f-endEstado" class="form-select" required>
								<option value=""></option>
								{% for item in page.uf %}
								<option value="{{ item.id|e }}" {% if page.inscricao.endEstado==item.id %}selected{% endif %}>{{ item.nome|e }}</option>
								{% endfor %}
							</select>
						</div>
						<small class="form-text text-muted">
							Unidade federativa (UF) de residência.
						</small>
					</div>
				</div>


				<!-- Cidade -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Cidade (*)</h6>
						<div class="input-group">
							<input id="f-endCidade" name="f-endCidade" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{page.inscricao.endCidade}}" required>
						</div>
						<small class="form-text text-muted">
							Cidade de residência.
						</small>
					</div>
				</div>


				<!-- Bairro -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Bairro (*)</h6>
						<div class="input-group">
							<input id="f-endBairro" name="f-endBairro" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{page.inscricao.endBairro}}" required>
						</div>
						<small class="form-text text-muted">
							Bairro de residência.
						</small>
					</div>
				</div>


				<!-- Rua -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Rua (*)</h6>
						<div class="input-group">
							<input id="f-endRua" name="f-endRua" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{page.inscricao.endRua}}" required>
						</div>
						<small class="form-text text-muted">
							Rua de residência.
						</small>
					</div>
				</div>


				<!-- Número -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Número (*)</h6>
						<div class="input-group">
							<input id="f-endNumero" name="f-endNumero" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{page.inscricao.endNumero}}" required>
						</div>
						<small class="form-text text-muted">
							Número de residência.
						</small>
					</div>
				</div>


				<!-- Complemento -->
				<div class="col-12 col-sm-6 col-lg-4 my-2">
					<div class="form-group">
						<h6>Complemento</h6>
						<div class="input-group">
							<input id="f-endComplemento" name="f-endComplemento" type="text" class="form-control" placeholder="" style="text-transform: uppercase;" value="{{page.inscricao.endComplemento}}">
						</div>
						<small class="form-text text-muted">
							Complemento de residência.
						</small>
					</div>
				</div>







				<!-- 
                SAÚDE
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Saúde</h4>
					<p>Forneça informações da sua saúde para que possamos cuidar melhor de você.</p>
				</div>


				<!-- Tipo de Alergia -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Tem algum tipo de Alergia? Qual? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<div>
									<div class="py-2">
										<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-alergiaR" aria-label="Radio button for following text input" value="0" checked> Não
									</div>
									<div class="py-2">
										<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-alergiaR" aria-label="Radio button for following text input" value="1"> Sim
									</div>
								</div>
							</div>
							<textarea id="f-alergia" name="f-alergia" class="form-control" rows="5" aria-label="With textarea">Qual?</textarea>
						</div>
						<small class="form-text text-muted">
							Tem alergia ou algum tipo de cuidado com locais, comida, etc.
						</small>
					</div>
				</div>


				<!-- Tipo de Medicamento -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Faz uso de algum tipo de medicamento? Qual? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<div>
									<div class="py-2">
										<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-medicamentoR" aria-label="Radio button for following text input" value="0" checked> Não
									</div>
									<div class="py-2">
										<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-medicamentoR" aria-label="Radio button for following text input" value="1"> Sim
									</div>
								</div>
							</div>
							<textarea id="f-medicamento" name="f-medicamento" class="form-control" rows="5" aria-label="With textarea">Qual?</textarea>
						</div>
						<small class="form-text text-muted">
							Faz uso de algum tipo de medicamento diário, ou em casos diversos?
						</small>
					</div>
				</div>


				<!-- Nadar Antigo -->
				{# <div class="col-12 my-2">
					<div class="form-group">
						<h6>Sabe nadar e autoriza a participação em atividades aquáticas? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarR" aria-label="Radio button for following text input" value="0"> Não
							</div>
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarR" aria-label="Radio button for following text input" value="1"> Sim
							</div>
						</div>
						<small class="form-text text-muted">
							Tem alergia ou algum tipo de cuidado com locais, comida, etc.
						</small>
					</div>
				</div> #}


				<!-- Atividades aquáticas -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Autoriza a participação em atividades com água? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarR" aria-label="Radio button for following text input" value="0"> Não
							</div>
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarR" aria-label="Radio button for following text input" value="1" checked> Sim
							</div>
						</div>
						<small class="form-text text-muted">
							Autoriza acampante a participar de atividades que envolvem água, e que não necessáriamente mergulha. Exemplo: bixiga de água, trilha, escorregador etc.
						</small>
					</div>
				</div>


				<!-- Açude -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Autoriza a participação no açude? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarA" aria-label="Radio button for following text input" value="0"> Não
							</div>
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarA" aria-label="Radio button for following text input" value="1" checked> Sim
							</div>
						</div>
						<small class="form-text text-muted">
							Autoriza acampante a participar de atividades que envolvem mergulho e acesso ao ambiente.
						</small>
					</div>
				</div>


				<!-- Piscina -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Autoriza a participação na piscina? (*)</h6>
						<div class="input-group">
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarP" aria-label="Radio button for following text input" value="0"> Não
							</div>
							<div class="input-group-text">
								<input class="form-check-input mt-0 me-2 align-middle" type="radio" name="f-nadarP" aria-label="Radio button for following text input" value="1" checked> Sim
							</div>
						</div>
						<small class="form-text text-muted">
							Autoriza acampante a participar de atividades que envolvem mergulho e acesso ao ambiente.
						</small>
					</div>
				</div>







				<!-- 
                PESSOAL
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Pessoal</h4>
					<p>Quer compartilhar conosco alguma informação?</p>
				</div>


				<!-- ideia -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Quer compatilhar alguma informação sobre o acampamento?</h6>
						<div class="input-group">
							<textarea id="f-ideia" name="f-ideia" class="form-control" rows="5" aria-label="With textarea"></textarea>
						</div>
						<small class="form-text text-muted">
							Quantas vezes já participou? Quer alguma programação extra? Tem uma ideia? Quer participar da Equipe.
						</small>
					</div>
				</div>


				<!-- Conselho -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Quer compatilhar alguma informação para o seu conselheiro?</h6>
						<div class="input-group">
							<textarea id="f-conselho" name="f-conselho" class="form-control" rows="5" aria-label="With textarea"></textarea>
						</div>
						<small class="form-text text-muted">
							Está passando por algum momento diferente na sua vida? Gostaria de conversar com um conselheiro? Informe aqui ou no próprio acampamento. Nossos conselheiros estão a disposição para compartilhar um pouco de esperança e dividir as cargas.
						</small>
					</div>
				</div>







				<!-- 
                TERMOS
                **************************************************************************************************************
            -->
				<div class="col-12 mt-4 pt-5">
					<h4>Aceite dos termos</h4>
					<p>Devido as questões legais que envolvem a entidade Acampamento Maanaim só será permitida a inscrição aceitando os termos.</p>
				</div>


				<!-- Termos e Compromisso -->
				<div class="col-12 my-2">
					<div class="form-group">
						<h6>Termos e Compromisso (*)</h6>
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" name="f-termos" id="f-termos" checked disabled>
							<label class="form-check-label" for="f-termos">Aceito os <a href="{{global.URL_RAIZ}}termos/" target="_blank">termos e compromissos</a>.</label>
						</div>
						<small class="form-text text-muted">
							Aceite dos termos, políticas, regras, deveres, direitos requisitos legais para inscrição.
						</small>
						<br>
						<span class="badge bg-warning text-dark mt-4">Atenção</span>
						<p class="text-dark">Após finalizar esta inscrição ("Uffa! Fazer Inscrição") será gerado o termo automaticamente preenchido.</p>
						<span class="badge bg-warning text-dark mt-2">Lembre-se</span>
						<p class="text-dark">Levar o termo impresso e <b>Assinado</b> para o Acampamento Maanaim. Caso o termo esteja com informações erradas, é necessário entrar em contato com a equipe.</p>
					</div>
				</div>


				<!-- SUBMIT -->
				<div class="col-12 mt-5">
					<div class="form-group text-end">
						<div class="form-check form-switch">
							<a id="btnUffa" class="btn btn-success" onclick="realizarInscricao();">Uffa! Fazer Inscrição</a>
							<h6 id="menorLimite2" style="display: none;"><span class="badge bg-danger">Inscrição inválida. Somente maior de {{page.info.INFO_IDADE_MINIMA}} anos.</span></h6>
						</div>
						<small class="form-text text-muted">
							Verifique atentamente todos os dados novamente! Preencha os campos obrigatórios que tenha o identificador (*). Após, submeta os dados para efetivação da inscrição clicando em "Uffa! Fazer Inscrição". Logo após receberá um "Código da Inscrição" (guarde o Código) e a forma de pagamento.
						</small>
					</div>
				</div>







			</div>
		</div>
	</div>
</form>


<script>
	function verificaMaior() {

		idadeMinima = parseInt('{{page.info.INFO_IDADE_MINIMA}}');
		anoAtual = parseInt('{{page.info.ANO_ATUAL}}');

		data = new Date($('#f-dtNascimento').val());
		// dateLimite = new Date(2004, 3, 13); // 18 anos até a data do evento
		// dateMenorLimite = new Date(2009, 3, 13); // 13 anos até a data do evento

		dateLimite = tiraYearsToDate(new Date('{{page.info.INFO_DATA_INI}}'), 18); // 18 anos até a data do evento
		dateMenorLimite = tiraYearsToDate(new Date('{{page.info.INFO_DATA_INI}}'), idadeMinima); // idade minima em anos até a data do evento


		// alert(new Date('{{page.info.INFO_DATA_INI}}'))
		//alert(tiraYearsToDate(new Date('{{page.info.INFO_DATA_INI}}'), 18));


		// console.log(data);
		// console.log(dateLimite);
		// console.log(dateMenorLimite);

		// Se for menor de idade
		if (data >= dateLimite) {
			// representante
			console.log('menor de idade');
			$('.menor').show();
		}
		else {
			// Maior
			console.log('maior de idade');
			$('.menor').hide();
			$('#menorLimite').hide();
		}

		if (data > dateMenorLimite) {
			$('#menorLimite').show();
			$('#menorLimite2').show();
			//$('#btnUffa').prop("disabled",true);
		} else {
			$('#menorLimite').hide();
			$('#menorLimite2').hide();
			//$('#btnUffa').prop("disabled",false);
		}

	}

	function tiraYearsToDate(date, years) {
		var days = years * 365;
		var res = new Date(date);
		res.setDate(res.getDate() - days);
		return res;
	}



	function buscaCPF() {

		// Obtém formulário.
		// $('#finscricao')[0];

		dados = new FormData();
		dados.append('f-formToken', '{{page.formTokenApi}}'); // Token para uso de API
		dados.append('f-cpf', $('#b-cpf').val()); // Exemplo de inclusão de valores.
		ajaxDados('{{global.URL_RAIZ}}inscricao/api/get/cpf', dados, function (ret) {
			// Para testes
			// console.log(ret);

			// Verifica se teve retorno ok.
			if (ret.ret) {
				// Notificação.
				Swal.fire({
					icon: "success",
					title: "Sucesso.",
					text: ret.msg,
					toast: true,
					position: "top-end",
					showConfirmButton: false,
					timer: 3000,
					timerProgressBar: true,
				});


				// Preenche os campos

				$('#f-nome').val(ret.ret.nome);
				$('#f-email').val(ret.ret.email);
				$('#f-telefone').val(ret.ret.telefone);
				$('#f-telefoneContato').val(ret.ret.telefoneContato);
				$('#f-cpf').val(ret.ret.cpf);
				$('#f-rg').val(ret.ret.rg);
				$('#f-cnh').val(ret.ret.cnh);
				$('#f-sexo').val(ret.ret.sexo);
				$('#f-dtNascimento').val(ret.ret.dtNascimento);
				verificaMaior();

				// Representante
				$('#f-RepNome').val(ret.ret.RepNome);
				$('#f-RepEmail').val(ret.ret.RepEmail);
				$('#f-RepTelefone').val(ret.ret.RepTelefone);
				$('#f-RepCpf').val(ret.ret.RepCpf);
				$('#f-RepRg').val(ret.ret.RepRg);
				$('#f-RepCnh').val(ret.ret.RepCnh);
				$('#f-RepSexo').val(ret.ret.RepSexo);
				$('#f-RepDtNascimento').val(ret.ret.RepDtNascimento);

				// Endereço
				$('#f-endCEP').val(ret.ret.endCEP);
				$('#f-endPais').val(ret.ret.endPais);
				$('#f-endEstado').val(ret.ret.endEstado);
				$('#f-endCidade').val(ret.ret.endCidade);
				$('#f-endBairro').val(ret.ret.endBairro);
				$('#f-endRua').val(ret.ret.endRua);
				$('#f-endNumero').val(ret.ret.endNumero);
				$('#f-endComplemento').val(ret.ret.endComplemento);

				// Informações de saude
				// $('#f-alergiaR').val(ret.ret.alergiaR);
				// $('#f-alergia').val(ret.ret.alergia);
				// $('#f-medicamentoR').val(ret.ret.medicamentoR);
				// $('#f-medicamento').val(ret.ret.medicamento);
				// $('#f-nadarR').val(ret.ret.nadarR);

				// Pessoal
				// $('#f-ideia').val(ret.ret.cpf);
				// $('#f-conselho').val(ret.ret.cpf);
				// $('#f-termos').val(ret.ret.cpf);


				// Verifica se já está inscrito no evento atual.
				if (ret.html != '') {
					// Monta o html do acompanhamento.
					$('#modalAcompanhamento .modal-body').html(ret.html);

					// Download dos termos.
					// $('#termos')[0].click();

					// Abre o modal.
					$("#modalAcompanhamento").modal('show');
				}

			} else {
				// Notificação.
				Swal.fire({
					icon: 'error',
					title: 'Erro.',
					text: ret.msg,
					toast: true,
					position: 'top-end',
					showConfirmButton: false,
					// timer: 3000,
					// timerProgressBar: true,
				});
			}
		})
	}



	function realizarInscricao() {

		// Campos obrigatórios preenchidos.
		camposObrigatorios = true;
		msgOb = '';

		// Caso não tenha preenchido algum, trava.
		if ($('#f-nome').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: nome. '; }
		if ($('#f-email').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: email. '; }
		if ($('#f-telefone').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: telefone. '; }
		if ($('#f-telefoneContato').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: telefoneContato. '; }
		if ($('#f-cpf').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: cpf. '; }
		if ($('#f-rg').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: rg. '; }
		if ($('#f-cnh').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: cnh. '; }
		if ($('#f-sexo').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: sexo. '; }
		if ($('#f-dtNascimento').val() == '') { camposObrigatorios = false; msgOb += 'Preencha o campo: dtNascimento. '; }


		if (data > dateMenorLimite) { camposObrigatorios = false; msgOb += 'Não atende a idade mínima. '; }

		// Verifica se é menor de idade e preencheu os campos de dados de representante.
		data = new Date($('#f-dtNascimento').val());
		dateLimite = tiraYearsToDate(new Date('{{page.info.INFO_DATA_INI}}'), 18); // 18 anos até a data do evento
		// Se for menor de idade
		if (data >= dateLimite) {
			if (
				$('#f-RepNome').val() == ''
				|| $('#f-RepEmail').val() == ''
				|| $('#f-RepTelefone').val() == ''
				|| $('#f-RepCpf').val() == ''
				|| $('#f-RepSexo').val() == ''
				|| $('#f-RepDtNascimento').val() == ''
			) { camposObrigatorios = false; msgOb += 'Necessário preenchimento de todos os campos dos dados de representante. '; }
		}


		if (camposObrigatorios == false) {

			// Notificação.
			Swal.fire({
				icon: 'error',
				title: 'Erro.',
				text: 'Preencha os campos obrigatórios. ' + msgOb,
				toast: true,
				position: 'top-end',
				showConfirmButton: false,
				// timer: 3000,
				// timerProgressBar: true,
			});

			return true;

		}

		// Pega o formulário e envia.
		dados = new FormData($('#finscricao')[0]);
		dados.append('f-formToken', '{{page.formTokenApi}}'); // Token para uso de API
		dados.append('adicionar', 'adicionar'); // Token para uso de API
		ajaxDados('{{global.URL_RAIZ}}inscricao/api/post/inscricao', dados, function (ret) {
			// Para testes
			console.log(ret);

			// Verifica se teve retorno ok.
			if (ret.ret) {
				// Notificação.
				Swal.fire({
					icon: "success",
					title: "Sucesso.",
					text: ret.msg,
					toast: true,
					position: "top-end",
					showConfirmButton: false,
					timer: 3000,
					timerProgressBar: true,
				});

				// Verifica se já está inscrito no evento atual.
				if (ret.html != '') {
					// Monta o html do acompanhamento.
					$('#modalAcompanhamento .modal-body').html(ret.html);

					// Abre o modal.
					$("#modalAcompanhamento").modal('show');

					// Download dos termos.
					$('#termos')[0].click();
				}


			} else {
				// Notificação.
				Swal.fire({
					icon: 'error',
					title: 'Erro.',
					text: ret.msg,
					toast: true,
					position: 'top-end',
					showConfirmButton: false,
					// timer: 3000,
					// timerProgressBar: true,
				});
			}
		})
	}
</script>