{% block footer %}

<div class="bg-preto">
    <div class="container">

        <div class="row py-5">
            <div class="col-md-4 text-start">
                <h3 class="oswald text-bold t-creme">CONTATO</h3>
                <p class="t-creme">
                    <a href="tel:+5535999635624" target="_blank" class="link-underline-opacity-0 t-creme">(35) 9 9963-5624</a>
                    <br>
                    secretariamaanaim1971@gmail.com
                </p>
            </div>

            <div class="col-md-4 text-start">
                <h3 class="oswald text-bold t-creme">ENDERÇO</h3>
                <p>
                    Rodovia BR 267 Km 21 Machado-MG / 37.750-000
                </p>
            </div>
            
            <div class="col-md-4 text-start">
                <h3 class="oswald text-bold t-creme">REDES SOCIAIS</h3>
                coluna 3
            </div>
        </div>

    </div>
</div>



{% endblock %}