{% block footer %}

<div class="bg-preto">
    <div class="container">

        <div class="row py-5">
            <div class="col-md-4 text-start my-4">
                <h3 class="oswald text-bold t-creme">CONTATO</h3>
                <ul class="list-style-none p-0">
                    <li class="mt-3">
                        <a href="tel:+5535999635624" target="_blank" class="t-creme mt-2">
                            (35) 9 9963-5624
                        </a>
                    </li>
                    <li class="mt-3">
                        <a href="mailto:secretariamaanaim1971@gmail.com" target="_blank" class="t-creme mt-2">
                            secretariamaanaim1971@gmail.com
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 text-start my-4">
                <h3 class="oswald text-bold t-creme">ENDEREÇO</h3>


                <ul class="list-style-none p-0">
                    <li class="mt-3 t-creme">
                        Rodovia: BR 267 Km 21
                        <br>
                        Cidade: Machado-MG
                        <br>
                        CEP: 37.750-000
                    </li>
                    <li class="mt-3">
                        <a href="https://maps.app.goo.gl/1J56zNJTVtze7NRT9" target="_blank" class="t-creme mt-2">VER NO MAPA</a>
                        {#
                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1886.068352721926!2d-46.06459823715812!3d-21.64701010381049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x94ca1aad2565ce5b%3A0x7257b00d400e412e!2sRodovia%20BR-267%2C%20Km%2021%2C%20s%2Fn%20-%20Centro%2C%20Machado%20-%20MG%2C%2037750-000!3m2!1d-21.646965599999998!2d-46.0639073!5e1!3m2!1spt-BR!2sbr!4v1747626331198!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        #}
                    </li>
                </ul>
            </div>

            <div class="col-md-4 text-start my-4">
                <h3 class="oswald text-bold t-creme">REDES SOCIAIS</h3>

                <ul class="list-style-none p-0">
                    <li class="mt-3">
                        <a href="https://www.instagram.com/acampa_maanaim/" target="_blank" class="underline-none t-creme mt-2">
                            <span class="rs bg-amarelo">
                                <i class="fab fa-instagram t-preto fs-20"></i>
                            </span>
                             Instagram
                        </a>
                    </li>
                    <li class="mt-3">
                        <a href="https://www.youtube.com/@acampamentoaanaim" target="_blank" class="underline-none t-creme mt-2">
                            <span class="rs bg-amarelo">
                                <i class="fab fa-youtube t-preto fs-20"></i>
                            </span>
                             Youtube
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>



{% endblock %}